In [1]:
%matplotlib notebook

In [2]:
from pandasjsm import pandasjsm

In [3]:
pj = pandasjsm()

In [4]:
df = pj.get_historical_prices('1301')

/usr/local/var/pyenv/versions/anaconda3-4.3.1/envs/stock/lib/python3.4/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("html5lib"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 170 of the file /usr/local/var/pyenv/versions/anaconda3-4.3.1/envs/stock/lib/python3.4/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "html5lib")

  markup_type=markup_type))

In [28]:
df

                     open  high   low  close  adj_close
date
2017-03-09 00:00:00  3135  3175  3130   3155       3155
2017-03-10 00:00:00  3165  3175  3110   3135       3135
2017-03-13 00:00:00  3135  3180  3125   3165       3165
2017-03-14 00:00:00  3180  3200  3160   3200       3200
2017-03-15 00:00:00  3210  3210  3135   3140       3140
2017-03-16 00:00:00  3130  3170  3110   3160       3160
2017-03-17 00:00:00  3170  3195  3165   3195       3195
2017-03-21 00:00:00  3180  3205  3175   3185       3185
2017-03-22 00:00:00  3155  3175  3145   3150       3150
2017-03-23 00:00:00  3130  3150  3110   3115       3115
2017-03-24 00:00:00  3115  3140  3115   3125       3125
2017-03-27 00:00:00  3125  3135  3110   3120       3120
2017-03-28 00:00:00  3120  3150  3110   3115       3115
2017-03-29 00:00:00  3050  3065  2999   3010       3010
2017-03-30 00:00:00  3005  3010  2936   2942       2942
2017-03-31 00:00:00  2948  2996  2936   2936       2936
2017-04-03 00:00:00  2946  3025  2942   3010       3010
2017-04-04 00:00:00  3005  3020  2983   3010       3010
2017-04-05 00:00:00  3015  3030  2994   3005       3005
2017-04-06 00:00:00  2980  2994  2941   2942       2942
2017-04-07 00:00:00  2960  2980  2942   2944       2944