In [1]:
%matplotlib notebook

In [2]:
import sys
sys.path.append('..')

In [3]:
from pandasjsm import pandasjsm
import matplotlib.pyplot as plt
from analyzer import analyzer

In [4]:
pj = pandasjsm("../database/")

In [5]:
df = pj.get_historical_prices('1301', all=True)

In [6]:
analyzer.ma_deviation(df)
analyzer.momentum(df)
df.columns

Index(['open', 'high', 'low', 'close', 'adj_close', 'volume', '25MA',
       '25MA_deviation', 'momentum', 'signal', 'asset'],
      dtype='object')

In [8]:
fig, [ax1, ax2, ax3] = plt.subplots(3,1,figsize=(6,10))
# df2=df["2013-05-21":"2013-06-07"]
# fig, [ax1, ax2] = plt.subplots(2,1)
df.plot(ax = ax1, y=["25MA",'adj_close'])
df.plot(ax = ax2, y=["25MA_deviation"])
df.plot(ax = ax3, y=["momentum"])

In [28]:
for d in df.index:
    print(df[d:d].open)

date
2000-01-04    135
Name: open, dtype: int64
date
2000-01-05    137
Name: open, dtype: int64
date
2000-01-06    136
Name: open, dtype: int64
date
2000-01-07    138
Name: open, dtype: int64
date
2000-01-11    137
Name: open, dtype: int64
date
2000-01-12    136
Name: open, dtype: int64
date
2000-01-13    138
Name: open, dtype: int64
date
2000-01-14    140
Name: open, dtype: int64
date
2000-01-17    145
Name: open, dtype: int64
date
2000-01-18    157
Name: open, dtype: int64
date
2000-01-19    147
Name: open, dtype: int64
date
2000-01-20    157
Name: open, dtype: int64
date
2000-01-21    156
Name: open, dtype: int64
date
2000-01-24    153
Name: open, dtype: int64
date
2000-01-25    146
Name: open, dtype: int64
date
2000-01-26    147
Name: open, dtype: int64
date
2000-01-27    142
Name: open, dtype: int64
date
2000-01-28    142
Name: open, dtype: int64
date
2000-01-31    142
Name: open, dtype: int64
date
2000-02-01    141
Name: open, dtype: int64
date
2000-02-02    145
Name: open, dtype: int64
date
2000-02-03    142
Name: open, dtype: int64
date
2000-02-04    141
Name: open, dtype: int64
date
2000-02-07    139
Name: open, dtype: int64
date
2000-02-08    138
Name: open, dtype: int64
date
2000-02-09    146
Name: open, dtype: int64
date
2000-02-10    142
Name: open, dtype: int64
date
2000-02-14    145
Name: open, dtype: int64
date
2000-02-15    140
Name: open, dtype: int64
date
2000-02-16    146
Name: open, dtype: int64
date
2000-02-17    148
Name: open, dtype: int64
date
2000-02-18    142
Name: open, dtype: int64
date
2000-02-21    145
Name: open, dtype: int64
date
2000-02-22    140
Name: open, dtype: int64
date
2000-02-23    138
Name: open, dtype: int64
date
2000-02-24    138
Name: open, dtype: int64
date
2000-02-25    134
Name: open, dtype: int64
date
2000-02-28    132
Name: open, dtype: int64
date
2000-02-29    131
Name: open, dtype: int64
date
2000-03-01    131
Name: open, dtype: int64
date
2000-03-02    131
Name: open, dtype: int64
date
2000-03-03    133
Name: open, dtype: int64
date
2000-03-06    139
Name: open, dtype: int64
date
2000-03-07    146
Name: open, dtype: int64
date
2000-03-08    145
Name: open, dtype: int64
date
2000-03-09    144
Name: open, dtype: int64
date
2000-03-10    153
Name: open, dtype: int64
date
2000-03-13    150
Name: open, dtype: int64
date
2000-03-14    157
Name: open, dtype: int64
date
2000-03-15    154
Name: open, dtype: int64
date
2000-03-16    151
Name: open, dtype: int64
date
2000-03-17    147
Name: open, dtype: int64
date
2000-03-21    149
Name: open, dtype: int64
date
2000-03-22    143
Name: open, dtype: int64
date
2000-03-23    150
Name: open, dtype: int64
date
2000-03-24    148
Name: open, dtype: int64
date
2000-03-27    154
Name: open, dtype: int64
date
2000-03-28    152
Name: open, dtype: int64
date
2000-03-29    150
Name: open, dtype: int64
date
2000-03-30    146
Name: open, dtype: int64
date
2000-03-31    147
Name: open, dtype: int64
date
2000-04-03    146
Name: open, dtype: int64
date
2000-04-04    152
Name: open, dtype: int64
date
2000-04-05    148
Name: open, dtype: int64
date
2000-04-06    152
Name: open, dtype: int64
date
2000-04-07    155
Name: open, dtype: int64
date
2000-04-10    153
Name: open, dtype: int64
date
2000-04-11    153
Name: open, dtype: int64
date
2000-04-12    152
Name: open, dtype: int64
date
2000-04-13    155
Name: open, dtype: int64
date
2000-04-14    158
Name: open, dtype: int64
date
2000-04-17    143
Name: open, dtype: int64
date
2000-04-18    145
Name: open, dtype: int64
date
2000-04-19    140
Name: open, dtype: int64
date
2000-04-20    145
Name: open, dtype: int64
date
2000-04-21    139
Name: open, dtype: int64
date
2000-04-24    139
Name: open, dtype: int64
date
2000-04-25    138
Name: open, dtype: int64
date
2000-04-26    138
Name: open, dtype: int64
date
2000-04-27    134
Name: open, dtype: int64
date
2000-04-28    133
Name: open, dtype: int64
date
2000-05-01    134
Name: open, dtype: int64
date
2000-05-02    133
Name: open, dtype: int64
date
2000-05-08    139
Name: open, dtype: int64
date
2000-05-09    140
Name: open, dtype: int64
date
2000-05-10    144
Name: open, dtype: int64
date
2000-05-11    144
Name: open, dtype: int64
date
2000-05-12    145
Name: open, dtype: int64
date
2000-05-15    147
Name: open, dtype: int64
date
2000-05-16    145
Name: open, dtype: int64
date
2000-05-17    143
Name: open, dtype: int64
date
2000-05-18    143
Name: open, dtype: int64
date
2000-05-19    147
Name: open, dtype: int64
date
2000-05-22    147
Name: open, dtype: int64
date
2000-05-23    147
Name: open, dtype: int64
date
2000-05-24    146
Name: open, dtype: int64
date
2000-05-25    145
Name: open, dtype: int64
date
2000-05-26    144
Name: open, dtype: int64
date
2000-05-29    139
Name: open, dtype: int64
date
2000-05-30    144
Name: open, dtype: int64
date
2000-05-31    139
Name: open, dtype: int64
date
2000-06-01    141
Name: open, dtype: int64
date
2000-06-02    141
Name: open, dtype: int64
date
2000-06-05    141
Name: open, dtype: int64
date
2000-06-06    141
Name: open, dtype: int64
date
2000-06-07    142
Name: open, dtype: int64
date
2000-06-08    146
Name: open, dtype: int64
date
2000-06-09    141
Name: open, dtype: int64
date
2000-06-12    148
Name: open, dtype: int64
date
2000-06-13    153
Name: open, dtype: int64
date
2000-06-14    155
Name: open, dtype: int64
date
2000-06-15    152
Name: open, dtype: int64
date
2000-06-16    154
Name: open, dtype: int64
date
2000-06-19    158
Name: open, dtype: int64
date
2000-06-20    154
Name: open, dtype: int64
date
2000-06-21    151
Name: open, dtype: int64
date
2000-06-22    150
Name: open, dtype: int64
date
2000-06-23    149
Name: open, dtype: int64
date
2000-06-26    154
Name: open, dtype: int64
date
2000-06-27    156
Name: open, dtype: int64
date
2000-06-28    164
Name: open, dtype: int64
date
2000-06-29    162
Name: open, dtype: int64
date
2000-06-30    163
Name: open, dtype: int64
date
2000-07-03    165
Name: open, dtype: int64
date
2000-07-04    169
Name: open, dtype: int64
date
2000-07-05    166
Name: open, dtype: int64
date
2000-07-06    161
Name: open, dtype: int64
date
2000-07-07    159
Name: open, dtype: int64
date
2000-07-10    160
Name: open, dtype: int64
date
2000-07-11    157
Name: open, dtype: int64
date
2000-07-12    159
Name: open, dtype: int64
date
2000-07-13    159
Name: open, dtype: int64
date
2000-07-14    151
Name: open, dtype: int64
date
2000-07-17    154
Name: open, dtype: int64
date
2000-07-18    153
Name: open, dtype: int64
date
2000-07-19    151
Name: open, dtype: int64
date
2000-07-21    153
Name: open, dtype: int64
date
2000-07-24    150
Name: open, dtype: int64
date
2000-07-25    145
Name: open, dtype: int64
date
2000-07-26    150
Name: open, dtype: int64
date
2000-07-27    148
Name: open, dtype: int64
date
2000-07-28    148
Name: open, dtype: int64
date
2000-07-31    145
Name: open, dtype: int64
date
2000-08-01    141
Name: open, dtype: int64
date
2000-08-02    143
Name: open, dtype: int64
date
2000-08-03    142
Name: open, dtype: int64
date
2000-08-04    143
Name: open, dtype: int64
date
2000-08-07    142
Name: open, dtype: int64
date
2000-08-08    143
Name: open, dtype: int64
date
2000-08-09    143
Name: open, dtype: int64
date
2000-08-10    143
Name: open, dtype: int64
date
2000-08-11    144
Name: open, dtype: int64
date
2000-08-14    144
Name: open, dtype: int64
date
2000-08-15    143
Name: open, dtype: int64
date
2000-08-16    142
Name: open, dtype: int64
date
2000-08-17    142
Name: open, dtype: int64
date
2000-08-18    143
Name: open, dtype: int64
date
2000-08-21    144
Name: open, dtype: int64
date
2000-08-22    144
Name: open, dtype: int64
date
2000-08-23    146
Name: open, dtype: int64
date
2000-08-24    143
Name: open, dtype: int64
date
2000-08-25    145
Name: open, dtype: int64
date
2000-08-28    145
Name: open, dtype: int64
date
2000-08-29    144
Name: open, dtype: int64
date
2000-08-30    146
Name: open, dtype: int64
date
2000-08-31    144
Name: open, dtype: int64
date
2000-09-01    143
Name: open, dtype: int64
date
2000-09-04    142
Name: open, dtype: int64
date
2000-09-05    143
Name: open, dtype: int64
date
2000-09-06    144
Name: open, dtype: int64
date
2000-09-07    144
Name: open, dtype: int64
date
2000-09-08    144
Name: open, dtype: int64
date
2000-09-11    144
Name: open, dtype: int64
date
2000-09-12    143
Name: open, dtype: int64
date
2000-09-13    144
Name: open, dtype: int64
date
2000-09-14    144
Name: open, dtype: int64
date
2000-09-18    141
Name: open, dtype: int64
date
2000-09-19    140
Name: open, dtype: int64
date
2000-09-20    142
Name: open, dtype: int64
date
2000-09-21    141
Name: open, dtype: int64
date
2000-09-22    139
Name: open, dtype: int64
date
2000-09-25    140
Name: open, dtype: int64
date
2000-09-26    142
Name: open, dtype: int64
date
2000-09-27    142
Name: open, dtype: int64
date
2000-09-28    142
Name: open, dtype: int64
date
2000-09-29    140
Name: open, dtype: int64
date
2000-10-02    139
Name: open, dtype: int64
date
2000-10-03    140
Name: open, dtype: int64
date
2000-10-04    138
Name: open, dtype: int64
date
2000-10-05    138
Name: open, dtype: int64
date
2000-10-06    141
Name: open, dtype: int64
date
2000-10-10    139
Name: open, dtype: int64
date
2000-10-11    138
Name: open, dtype: int64
date
2000-10-12    135
Name: open, dtype: int64
date
2000-10-13    136
Name: open, dtype: int64
date
2000-10-16    136
Name: open, dtype: int64
date
2000-10-17    136
Name: open, dtype: int64
date
2000-10-18    137
Name: open, dtype: int64
date
2000-10-19    136
Name: open, dtype: int64
date
2000-10-20    135
Name: open, dtype: int64
date
2000-10-23    133
Name: open, dtype: int64
date
2000-10-24    133
Name: open, dtype: int64
date
2000-10-25    134
Name: open, dtype: int64
date
2000-10-26    135
Name: open, dtype: int64
date
2000-10-27    138
Name: open, dtype: int64
date
2000-10-30    135
Name: open, dtype: int64
date
2000-10-31    138
Name: open, dtype: int64
date
2000-11-01    135
Name: open, dtype: int64
date
2000-11-02    140
Name: open, dtype: int64
date
2000-11-06    139
Name: open, dtype: int64
date
2000-11-07    143
Name: open, dtype: int64
date
2000-11-08    145
Name: open, dtype: int64
date
2000-11-09    145
Name: open, dtype: int64
date
2000-11-10    140
Name: open, dtype: int64
date
2000-11-13    142
Name: open, dtype: int64
date
2000-11-14    140
Name: open, dtype: int64
date
2000-11-15    145
Name: open, dtype: int64
date
2000-11-16    143
Name: open, dtype: int64
date
2000-11-17    143
Name: open, dtype: int64
date
2000-11-20    143
Name: open, dtype: int64
date
2000-11-21    141
Name: open, dtype: int64
date
2000-11-22    142
Name: open, dtype: int64
date
2000-11-24    139
Name: open, dtype: int64
date
2000-11-27    141
Name: open, dtype: int64
date
2000-11-28    141
Name: open, dtype: int64
date
2000-11-29    142
Name: open, dtype: int64
date
2000-11-30    141
Name: open, dtype: int64
date
2000-12-01    147
Name: open, dtype: int64
date
2000-12-04    149
Name: open, dtype: int64
date
2000-12-05    144
Name: open, dtype: int64
date
2000-12-06    144
Name: open, dtype: int64
date
2000-12-07    143
Name: open, dtype: int64
date
2000-12-08    142
Name: open, dtype: int64
date
2000-12-11    145
Name: open, dtype: int64
date
2000-12-12    147
Name: open, dtype: int64
date
2000-12-13    147
Name: open, dtype: int64
date
2000-12-14    148
Name: open, dtype: int64
date
2000-12-15    147
Name: open, dtype: int64
date
2000-12-18    143
Name: open, dtype: int64
date
2000-12-19    143
Name: open, dtype: int64
date
2000-12-20    143
Name: open, dtype: int64
date
2000-12-21    142
Name: open, dtype: int64
date
2000-12-22    142
Name: open, dtype: int64
date
2000-12-25    142
Name: open, dtype: int64
date
2000-12-26    143
Name: open, dtype: int64
date
2000-12-27    141
Name: open, dtype: int64
date
2000-12-28    141
Name: open, dtype: int64
date
2000-12-29    142
Name: open, dtype: int64
date
2001-01-04    142
Name: open, dtype: int64

date
2001-01-05    139
Name: open, dtype: int64
date
2001-01-09    133
Name: open, dtype: int64
date
2001-01-10    131
Name: open, dtype: int64
date
2001-01-11    133
Name: open, dtype: int64
date
2001-01-12    132
Name: open, dtype: int64
date
2001-01-15    136
Name: open, dtype: int64
date
2001-01-16    134
Name: open, dtype: int64
date
2001-01-17    134
Name: open, dtype: int64
date
2001-01-18    132
Name: open, dtype: int64
date
2001-01-19    132
Name: open, dtype: int64
date
2001-01-22    137
Name: open, dtype: int64
date
2001-01-23    135
Name: open, dtype: int64
date
2001-01-24    136
Name: open, dtype: int64
date
2001-01-25    135
Name: open, dtype: int64
date
2001-01-26    133
Name: open, dtype: int64
date
2001-01-29    133
Name: open, dtype: int64
date
2001-01-30    142
Name: open, dtype: int64
date
2001-01-31    140
Name: open, dtype: int64
date
2001-02-01    141
Name: open, dtype: int64
date
2001-02-02    138
Name: open, dtype: int64
date
2001-02-05    142
Name: open, dtype: int64
date
2001-02-06    142
Name: open, dtype: int64
date
2001-02-07    142
Name: open, dtype: int64
date
2001-02-08    144
Name: open, dtype: int64
date
2001-02-09    144
Name: open, dtype: int64
date
2001-02-13    147
Name: open, dtype: int64
date
2001-02-14    147
Name: open, dtype: int64
date
2001-02-15    150
Name: open, dtype: int64
date
2001-02-16    152
Name: open, dtype: int64
date
2001-02-19    148
Name: open, dtype: int64
date
2001-02-20    151
Name: open, dtype: int64
date
2001-02-21    150
Name: open, dtype: int64
date
2001-02-22    148
Name: open, dtype: int64
date
2001-02-23    145
Name: open, dtype: int64
date
2001-02-26    146
Name: open, dtype: int64
date
2001-02-27    150
Name: open, dtype: int64
date
2001-02-28    152
Name: open, dtype: int64
date
2001-03-01    154
Name: open, dtype: int64
date
2001-03-02    148
Name: open, dtype: int64
date
2001-03-05    144
Name: open, dtype: int64
date
2001-03-06    143
Name: open, dtype: int64
date
2001-03-07    145
Name: open, dtype: int64
date
2001-03-08    147
Name: open, dtype: int64
date
2001-03-09    143
Name: open, dtype: int64
date
2001-03-12    144
Name: open, dtype: int64
date
2001-03-13    142
Name: open, dtype: int64
date
2001-03-14    140
Name: open, dtype: int64
date
2001-03-15    140
Name: open, dtype: int64
date
2001-03-16    142
Name: open, dtype: int64
date
2001-03-19    145
Name: open, dtype: int64
date
2001-03-21    146
Name: open, dtype: int64
date
2001-03-22    148
Name: open, dtype: int64
date
2001-03-23    150
Name: open, dtype: int64
date
2001-03-26    154
Name: open, dtype: int64
date
2001-03-27    155
Name: open, dtype: int64
date
2001-03-28    155
Name: open, dtype: int64
date
2001-03-29    154
Name: open, dtype: int64
date
2001-03-30    152
Name: open, dtype: int64
date
2001-04-02    148
Name: open, dtype: int64
date
2001-04-03    152
Name: open, dtype: int64
date
2001-04-04    150
Name: open, dtype: int64
date
2001-04-05    154
Name: open, dtype: int64
date
2001-04-06    156
Name: open, dtype: int64
date
2001-04-09    153
Name: open, dtype: int64
date
2001-04-10    149
Name: open, dtype: int64
date
2001-04-11    151
Name: open, dtype: int64
date
2001-04-12    153
Name: open, dtype: int64
date
2001-04-13    154
Name: open, dtype: int64
date
2001-04-16    163
Name: open, dtype: int64
date
2001-04-17    163
Name: open, dtype: int64
date
2001-04-18    166
Name: open, dtype: int64
date
2001-04-19    172
Name: open, dtype: int64
date
2001-04-20    169
Name: open, dtype: int64
date
2001-04-23    169
Name: open, dtype: int64
date
2001-04-24    165
Name: open, dtype: int64
date
2001-04-25    168
Name: open, dtype: int64
date
2001-04-26    170
Name: open, dtype: int64
date
2001-04-27    171
Name: open, dtype: int64
date
2001-05-01    171
Name: open, dtype: int64
date
2001-05-02    173
Name: open, dtype: int64
date
2001-05-07    168
Name: open, dtype: int64
date
2001-05-08    162
Name: open, dtype: int64
date
2001-05-09    158
Name: open, dtype: int64
date
2001-05-10    155
Name: open, dtype: int64
date
2001-05-11    157
Name: open, dtype: int64
date
2001-05-14    158
Name: open, dtype: int64
date
2001-05-15    154
Name: open, dtype: int64
date
2001-05-16    156
Name: open, dtype: int64
date
2001-05-17    154
Name: open, dtype: int64
date
2001-05-18    153
Name: open, dtype: int64
date
2001-05-21    152
Name: open, dtype: int64
date
2001-05-22    153
Name: open, dtype: int64
date
2001-05-23    153
Name: open, dtype: int64
date
2001-05-24    152
Name: open, dtype: int64
date
2001-05-25    152
Name: open, dtype: int64
date
2001-05-28    152
Name: open, dtype: int64
date
2001-05-29    150
Name: open, dtype: int64
date
2001-05-30    150
Name: open, dtype: int64
date
2001-05-31    147
Name: open, dtype: int64
date
2001-06-01    146
Name: open, dtype: int64
date
2001-06-04    145
Name: open, dtype: int64
date
2001-06-05    146
Name: open, dtype: int64
date
2001-06-06    147
Name: open, dtype: int64
date
2001-06-07    144
Name: open, dtype: int64
date
2001-06-08    147
Name: open, dtype: int64
date
2001-06-11    147
Name: open, dtype: int64
date
2001-06-12    148
Name: open, dtype: int64
date
2001-06-13    148
Name: open, dtype: int64
date
2001-06-14    150
Name: open, dtype: int64
date
2001-06-15    151
Name: open, dtype: int64
date
2001-06-18    154
Name: open, dtype: int64
date
2001-06-19    154
Name: open, dtype: int64
date
2001-06-20    154
Name: open, dtype: int64
date
2001-06-21    156
Name: open, dtype: int64
date
2001-06-22    156
Name: open, dtype: int64
date
2001-06-25    154
Name: open, dtype: int64
date
2001-06-26    153
Name: open, dtype: int64
date
2001-06-27    157
Name: open, dtype: int64
date
2001-06-28    163
Name: open, dtype: int64
date
2001-06-29    165
Name: open, dtype: int64
date
2001-07-02    159
Name: open, dtype: int64
date
2001-07-03    157
Name: open, dtype: int64
date
2001-07-04    157
Name: open, dtype: int64
date
2001-07-05    151
Name: open, dtype: int64
date
2001-07-06    156
Name: open, dtype: int64
date
2001-07-09    150
Name: open, dtype: int64
date
2001-07-10    150
Name: open, dtype: int64
date
2001-07-11    151
Name: open, dtype: int64
date
2001-07-12    152
Name: open, dtype: int64
date
2001-07-13    151
Name: open, dtype: int64
date
2001-07-16    151
Name: open, dtype: int64
date
2001-07-17    149
Name: open, dtype: int64
date
2001-07-18    148
Name: open, dtype: int64
date
2001-07-19    150
Name: open, dtype: int64
date
2001-07-23    150
Name: open, dtype: int64
date
2001-07-24    143
Name: open, dtype: int64
date
2001-07-25    143
Name: open, dtype: int64
date
2001-07-26    142
Name: open, dtype: int64
date
2001-07-27    145
Name: open, dtype: int64
date
2001-07-30    151
Name: open, dtype: int64
date
2001-07-31    142
Name: open, dtype: int64
date
2001-08-01    144
Name: open, dtype: int64
date
2001-08-02    145
Name: open, dtype: int64
date
2001-08-03    146
Name: open, dtype: int64
date
2001-08-06    144
Name: open, dtype: int64
date
2001-08-07    149
Name: open, dtype: int64
date
2001-08-08    150
Name: open, dtype: int64
date
2001-08-09    150
Name: open, dtype: int64
date
2001-08-10    146
Name: open, dtype: int64
date
2001-08-13    146
Name: open, dtype: int64
date
2001-08-14    146
Name: open, dtype: int64
date
2001-08-15    152
Name: open, dtype: int64
date
2001-08-16    147
Name: open, dtype: int64
date
2001-08-17    146
Name: open, dtype: int64
date
2001-08-20    144
Name: open, dtype: int64
date
2001-08-21    142
Name: open, dtype: int64
date
2001-08-22    142
Name: open, dtype: int64
date
2001-08-23    143
Name: open, dtype: int64
date
2001-08-24    142
Name: open, dtype: int64
date
2001-08-27    144
Name: open, dtype: int64
date
2001-08-28    143
Name: open, dtype: int64
date
2001-08-29    143
Name: open, dtype: int64
date
2001-08-30    142
Name: open, dtype: int64
date
2001-08-31    141
Name: open, dtype: int64
date
2001-09-03    139
Name: open, dtype: int64
date
2001-09-04    139
Name: open, dtype: int64
date
2001-09-05    138
Name: open, dtype: int64
date
2001-09-06    135
Name: open, dtype: int64
date
2001-09-07    137
Name: open, dtype: int64
date
2001-09-10    132
Name: open, dtype: int64
date
2001-09-11    136
Name: open, dtype: int64
date
2001-09-12    127
Name: open, dtype: int64
date
2001-09-13    130
Name: open, dtype: int64
date
2001-09-14    133
Name: open, dtype: int64
date
2001-09-17    145
Name: open, dtype: int64
date
2001-09-18    138
Name: open, dtype: int64
date
2001-09-19    138
Name: open, dtype: int64
date
2001-09-20    140
Name: open, dtype: int64
date
2001-09-21    132
Name: open, dtype: int64
date
2001-09-25    138
Name: open, dtype: int64
date
2001-09-26    133
Name: open, dtype: int64
date
2001-09-27    137
Name: open, dtype: int64
date
2001-09-28    138
Name: open, dtype: int64
date
2001-10-01    136
Name: open, dtype: int64
date
2001-10-02    140
Name: open, dtype: int64
date
2001-10-03    141
Name: open, dtype: int64
date
2001-10-04    140
Name: open, dtype: int64
date
2001-10-05    145
Name: open, dtype: int64
date
2001-10-09    143
Name: open, dtype: int64
date
2001-10-10    140
Name: open, dtype: int64
date
2001-10-11    143
Name: open, dtype: int64
date
2001-10-12    145
Name: open, dtype: int64
date
2001-10-15    149
Name: open, dtype: int64
date
2001-10-16    145
Name: open, dtype: int64
date
2001-10-17    146
Name: open, dtype: int64
date
2001-10-18    142
Name: open, dtype: int64
date
2001-10-19    140
Name: open, dtype: int64
date
2001-10-22    139
Name: open, dtype: int64
date
2001-10-23    139
Name: open, dtype: int64
date
2001-10-24    141
Name: open, dtype: int64
date
2001-10-25    140
Name: open, dtype: int64
date
2001-10-26    142
Name: open, dtype: int64
date
2001-10-29    141
Name: open, dtype: int64
date
2001-10-30    140
Name: open, dtype: int64
date
2001-10-31    142
Name: open, dtype: int64
date
2001-11-01    143
Name: open, dtype: int64
date
2001-11-02    139
Name: open, dtype: int64
date
2001-11-05    138
Name: open, dtype: int64
date
2001-11-06    140
Name: open, dtype: int64
date
2001-11-07    143
Name: open, dtype: int64
date
2001-11-08    139
Name: open, dtype: int64
date
2001-11-09    139
Name: open, dtype: int64
date
2001-11-12    137
Name: open, dtype: int64
date
2001-11-13    135
Name: open, dtype: int64
date
2001-11-14    136
Name: open, dtype: int64
date
2001-11-15    135
Name: open, dtype: int64
date
2001-11-16    135
Name: open, dtype: int64
date
2001-11-19    140
Name: open, dtype: int64
date
2001-11-20    140
Name: open, dtype: int64
date
2001-11-21    137
Name: open, dtype: int64
date
2001-11-22    142
Name: open, dtype: int64
date
2001-11-26    141
Name: open, dtype: int64
date
2001-11-27    140
Name: open, dtype: int64
date
2001-11-28    141
Name: open, dtype: int64
date
2001-11-29    138
Name: open, dtype: int64
date
2001-11-30    139
Name: open, dtype: int64
date
2001-12-03    140
Name: open, dtype: int64
date
2001-12-04    137
Name: open, dtype: int64
date
2001-12-05    136
Name: open, dtype: int64
date
2001-12-06    137
Name: open, dtype: int64
date
2001-12-07    136
Name: open, dtype: int64
date
2001-12-10    135
Name: open, dtype: int64
date
2001-12-11    136
Name: open, dtype: int64
date
2001-12-12    134
Name: open, dtype: int64
date
2001-12-13    138
Name: open, dtype: int64
date
2001-12-14    138
Name: open, dtype: int64
date
2001-12-17    134
Name: open, dtype: int64
date
2001-12-18    133
Name: open, dtype: int64
date
2001-12-19    123
Name: open, dtype: int64
date
2001-12-20    128
Name: open, dtype: int64
date
2001-12-21    126
Name: open, dtype: int64
date
2001-12-25    129
Name: open, dtype: int64
date
2001-12-26    128
Name: open, dtype: int64
date
2001-12-27    126
Name: open, dtype: int64
date
2001-12-28    132
Name: open, dtype: int64
date
2002-01-04    130
Name: open, dtype: int64
date
2002-01-07    130
Name: open, dtype: int64
date
2002-01-08    132
Name: open, dtype: int64
date
2002-01-09    133
Name: open, dtype: int64
date
2002-01-10    133
Name: open, dtype: int64
date
2002-01-11    132
Name: open, dtype: int64
date
2002-01-15    128
Name: open, dtype: int64
date
2002-01-16    127
Name: open, dtype: int64
date
2002-01-17    127
Name: open, dtype: int64
date
2002-01-18    125
Name: open, dtype: int64
date
2002-01-21    128
Name: open, dtype: int64
date
2002-01-22    128
Name: open, dtype: int64
date
2002-01-23    126
Name: open, dtype: int64
date
2002-01-24    128
Name: open, dtype: int64
date
2002-01-25    127
Name: open, dtype: int64
date
2002-01-28    127
Name: open, dtype: int64
date
2002-01-29    126
Name: open, dtype: int64
date
2002-01-30    126
Name: open, dtype: int64
date
2002-01-31    126
Name: open, dtype: int64
date
2002-02-01    127
Name: open, dtype: int64
date
2002-02-04    128
Name: open, dtype: int64
date
2002-02-05    128
Name: open, dtype: int64
date
2002-02-06    128
Name: open, dtype: int64
date
2002-02-07    126
Name: open, dtype: int64
date
2002-02-08    126
Name: open, dtype: int64
date
2002-02-12    128
Name: open, dtype: int64
date
2002-02-13    127
Name: open, dtype: int64
date
2002-02-14    132
Name: open, dtype: int64
date
2002-02-15    135
Name: open, dtype: int64
date
2002-02-18    133
Name: open, dtype: int64
date
2002-02-19    136
Name: open, dtype: int64
date
2002-02-20    132
Name: open, dtype: int64
date
2002-02-21    132
Name: open, dtype: int64
date
2002-02-22    135
Name: open, dtype: int64
date
2002-02-25    136
Name: open, dtype: int64
date
2002-02-26    134
Name: open, dtype: int64
date
2002-02-27    134
Name: open, dtype: int64
date
2002-02-28    137
Name: open, dtype: int64
date
2002-03-01    137
Name: open, dtype: int64
date
2002-03-04    142
Name: open, dtype: int64
date
2002-03-05    147
Name: open, dtype: int64
date
2002-03-06    146
Name: open, dtype: int64
date
2002-03-07    149
Name: open, dtype: int64
date
2002-03-08    150
Name: open, dtype: int64
date
2002-03-11    145
Name: open, dtype: int64
date
2002-03-12    149
Name: open, dtype: int64
date
2002-03-13    150
Name: open, dtype: int64
date
2002-03-14    145
Name: open, dtype: int64
date
2002-03-15    145
Name: open, dtype: int64
date
2002-03-18    146
Name: open, dtype: int64
date
2002-03-19    144
Name: open, dtype: int64
date
2002-03-20    148
Name: open, dtype: int64
date
2002-03-22    146
Name: open, dtype: int64
date
2002-03-25    142
Name: open, dtype: int64
date
2002-03-26    145
Name: open, dtype: int64
date
2002-03-27    142
Name: open, dtype: int64
date
2002-03-28    145
Name: open, dtype: int64
date
2002-03-29    145
Name: open, dtype: int64
date
2002-04-01    143
Name: open, dtype: int64
date
2002-04-02    139
Name: open, dtype: int64
date
2002-04-03    138
Name: open, dtype: int64
date
2002-04-04    140
Name: open, dtype: int64
date
2002-04-05    145
Name: open, dtype: int64
date
2002-04-08    144
Name: open, dtype: int64
date
2002-04-09    143
Name: open, dtype: int64
date
2002-04-10    143
Name: open, dtype: int64
date
2002-04-11    144
Name: open, dtype: int64
date
2002-04-12    140
Name: open, dtype: int64
date
2002-04-15    139
Name: open, dtype: int64
date
2002-04-16    137
Name: open, dtype: int64
date
2002-04-17    140
Name: open, dtype: int64
date
2002-04-18    140
Name: open, dtype: int64
date
2002-04-19    141
Name: open, dtype: int64
date
2002-04-22    142
Name: open, dtype: int64
date
2002-04-23    140
Name: open, dtype: int64
date
2002-04-24    139
Name: open, dtype: int64
date
2002-04-25    138
Name: open, dtype: int64
date
2002-04-26    138
Name: open, dtype: int64
date
2002-04-30    136
Name: open, dtype: int64
date
2002-05-01    137
Name: open, dtype: int64
date
2002-05-02    137
Name: open, dtype: int64
date
2002-05-07    135
Name: open, dtype: int64
date
2002-05-08    135
Name: open, dtype: int64
date
2002-05-09    140
Name: open, dtype: int64
date
2002-05-10    138
Name: open, dtype: int64
date
2002-05-13    136
Name: open, dtype: int64
date
2002-05-14    139
Name: open, dtype: int64
date
2002-05-15    140
Name: open, dtype: int64
date
2002-05-16    141
Name: open, dtype: int64
date
2002-05-17    142
Name: open, dtype: int64
date
2002-05-20    144
Name: open, dtype: int64
date
2002-05-21    142
Name: open, dtype: int64
date
2002-05-22    144
Name: open, dtype: int64
date
2002-05-23    151
Name: open, dtype: int64
date
2002-05-24    147
Name: open, dtype: int64
date
2002-05-27    144
Name: open, dtype: int64
date
2002-05-28    146
Name: open, dtype: int64
date
2002-05-29    145
Name: open, dtype: int64
date
2002-05-30    143
Name: open, dtype: int64
date
2002-05-31    142
Name: open, dtype: int64
date
2002-06-03    145
Name: open, dtype: int64
date
2002-06-04    144
Name: open, dtype: int64
date
2002-06-05    142
Name: open, dtype: int64
date
2002-06-06    140
Name: open, dtype: int64
date
2002-06-07    137
Name: open, dtype: int64
date
2002-06-10    139
Name: open, dtype: int64
date
2002-06-11    139
Name: open, dtype: int64
date
2002-06-12    138
Name: open, dtype: int64
date
2002-06-13    138
Name: open, dtype: int64
date
2002-06-14    137
Name: open, dtype: int64
date
2002-06-17    135
Name: open, dtype: int64
date
2002-06-18    134
Name: open, dtype: int64
date
2002-06-19    132
Name: open, dtype: int64
date
2002-06-20    131
Name: open, dtype: int64
date
2002-06-21    131
Name: open, dtype: int64
date
2002-06-24    129
Name: open, dtype: int64
date
2002-06-25    128
Name: open, dtype: int64
date
2002-06-26    130
Name: open, dtype: int64
date
2002-06-27    130
Name: open, dtype: int64
date
2002-06-28    132
Name: open, dtype: int64
date
2002-07-01    131
Name: open, dtype: int64
date
2002-07-02    130
Name: open, dtype: int64
date
2002-07-03    132
Name: open, dtype: int64
date
2002-07-04    134
Name: open, dtype: int64
date
2002-07-05    135
Name: open, dtype: int64
date
2002-07-08    137
Name: open, dtype: int64
date
2002-07-09    135
Name: open, dtype: int64
date
2002-07-10    135
Name: open, dtype: int64
date
2002-07-11    133
Name: open, dtype: int64
date
2002-07-12    135
Name: open, dtype: int64
date
2002-07-15    133
Name: open, dtype: int64
date
2002-07-16    132
Name: open, dtype: int64
date
2002-07-17    131
Name: open, dtype: int64
date
2002-07-18    131
Name: open, dtype: int64
date
2002-07-19    134
Name: open, dtype: int64
date
2002-07-22    130
Name: open, dtype: int64
date
2002-07-23    129
Name: open, dtype: int64
date
2002-07-24    130
Name: open, dtype: int64
date
2002-07-25    131
Name: open, dtype: int64
date
2002-07-26    129
Name: open, dtype: int64
date
2002-07-29    129
Name: open, dtype: int64
date
2002-07-30    131
Name: open, dtype: int64
date
2002-07-31    131
Name: open, dtype: int64
date
2002-08-01    130
Name: open, dtype: int64
date
2002-08-02    127
Name: open, dtype: int64
date
2002-08-05    127
Name: open, dtype: int64
date
2002-08-06    128
Name: open, dtype: int64
date
2002-08-07    129
Name: open, dtype: int64
date
2002-08-08    130
Name: open, dtype: int64
date
2002-08-09    129
Name: open, dtype: int64
date
2002-08-12    129
Name: open, dtype: int64
date
2002-08-13    126
Name: open, dtype: int64
date
2002-08-14    122
Name: open, dtype: int64
date
2002-08-15    125
Name: open, dtype: int64
date
2002-08-16    125
Name: open, dtype: int64
date
2002-08-19    124
Name: open, dtype: int64
date
2002-08-20    123
Name: open, dtype: int64
date
2002-08-21    120
Name: open, dtype: int64
date
2002-08-22    121
Name: open, dtype: int64
date
2002-08-23    121
Name: open, dtype: int64
date
2002-08-26    121
Name: open, dtype: int64
date
2002-08-27    125
Name: open, dtype: int64
date
2002-08-28    124
Name: open, dtype: int64
date
2002-08-29    122
Name: open, dtype: int64
date
2002-08-30    121
Name: open, dtype: int64
date
2002-09-02    121
Name: open, dtype: int64
date
2002-09-03    120
Name: open, dtype: int64
date
2002-09-04    115
Name: open, dtype: int64
date
2002-09-05    115
Name: open, dtype: int64
date
2002-09-06    105
Name: open, dtype: int64
date
2002-09-09    107
Name: open, dtype: int64
date
2002-09-10    110

date
2004-06-30    204
Name: open, dtype: int64
date
2004-07-01    204
Name: open, dtype: int64
date
2004-07-02    201
Name: open, dtype: int64
date
2004-07-05    197
Name: open, dtype: int64
date
2004-07-06    198
Name: open, dtype: int64
date
2004-07-07    195
Name: open, dtype: int64
date
2004-07-08    195
Name: open, dtype: int64
date
2004-07-09    190
Name: open, dtype: int64
date
2004-07-12    195
Name: open, dtype: int64
date
2004-07-13    196
Name: open, dtype: int64
date
2004-07-14    199
Name: open, dtype: int64
date
2004-07-15    195
Name: open, dtype: int64
date
2004-07-16    192
Name: open, dtype: int64
date
2004-07-20    195
Name: open, dtype: int64
date
2004-07-21    193
Name: open, dtype: int64
date
2004-07-22    191
Name: open, dtype: int64
date
2004-07-23    192
Name: open, dtype: int64
date
2004-07-26    187
Name: open, dtype: int64
date
2004-07-27    187
Name: open, dtype: int64
date
2004-07-28    188
Name: open, dtype: int64
date
2004-07-29    189
Name: open, dtype: int64
date
2004-07-30    187
Name: open, dtype: int64
date
2004-08-02    189
Name: open, dtype: int64
date
2004-08-03    191
Name: open, dtype: int64
date
2004-08-04    187
Name: open, dtype: int64
date
2004-08-05    184
Name: open, dtype: int64
date
2004-08-06    182
Name: open, dtype: int64
date
2004-08-09    181
Name: open, dtype: int64
date
2004-08-10    184
Name: open, dtype: int64
date
2004-08-11    186
Name: open, dtype: int64
date
2004-08-12    185
Name: open, dtype: int64
date
2004-08-13    184
Name: open, dtype: int64
date
2004-08-16    182
Name: open, dtype: int64
date
2004-08-17    183
Name: open, dtype: int64
date
2004-08-18    184
Name: open, dtype: int64
date
2004-08-19    185
Name: open, dtype: int64
date
2004-08-20    187
Name: open, dtype: int64
date
2004-08-23    190
Name: open, dtype: int64
date
2004-08-24    190
Name: open, dtype: int64
date
2004-08-25    189
Name: open, dtype: int64
date
2004-08-26    193
Name: open, dtype: int64
date
2004-08-27    192
Name: open, dtype: int64
date
2004-08-30    193
Name: open, dtype: int64
date
2004-08-31    191
Name: open, dtype: int64
date
2004-09-01    191
Name: open, dtype: int64
date
2004-09-02    195
Name: open, dtype: int64
date
2004-09-03    195
Name: open, dtype: int64
date
2004-09-06    195
Name: open, dtype: int64
date
2004-09-07    196
Name: open, dtype: int64
date
2004-09-08    200
Name: open, dtype: int64
date
2004-09-09    198
Name: open, dtype: int64
date
2004-09-10    199
Name: open, dtype: int64
date
2004-09-13    198
Name: open, dtype: int64
date
2004-09-14    201
Name: open, dtype: int64
date
2004-09-15    203
Name: open, dtype: int64
date
2004-09-16    198
Name: open, dtype: int64
date
2004-09-17    196
Name: open, dtype: int64
date
2004-09-21    194
Name: open, dtype: int64
date
2004-09-22    190
Name: open, dtype: int64
date
2004-09-24    188
Name: open, dtype: int64
date
2004-09-27    190
Name: open, dtype: int64
date
2004-09-28    192
Name: open, dtype: int64
date
2004-09-29    196
Name: open, dtype: int64
date
2004-09-30    194
Name: open, dtype: int64
date
2004-10-01    196
Name: open, dtype: int64
date
2004-10-04    200
Name: open, dtype: int64
date
2004-10-05    198
Name: open, dtype: int64
date
2004-10-06    202
Name: open, dtype: int64
date
2004-10-07    204
Name: open, dtype: int64
date
2004-10-08    199
Name: open, dtype: int64
date
2004-10-12    200
Name: open, dtype: int64
date
2004-10-13    198
Name: open, dtype: int64
date
2004-10-14    198
Name: open, dtype: int64
date
2004-10-15    192
Name: open, dtype: int64
date
2004-10-18    196
Name: open, dtype: int64
date
2004-10-19    202
Name: open, dtype: int64
date
2004-10-20    203
Name: open, dtype: int64
date
2004-10-21    203
Name: open, dtype: int64
date
2004-10-22    204
Name: open, dtype: int64
date
2004-10-25    200
Name: open, dtype: int64
date
2004-10-26    202
Name: open, dtype: int64
date
2004-10-27    203
Name: open, dtype: int64
date
2004-10-28    203
Name: open, dtype: int64
date
2004-10-29    200
Name: open, dtype: int64
date
2004-11-01    199
Name: open, dtype: int64
date
2004-11-02    201
Name: open, dtype: int64
date
2004-11-04    203
Name: open, dtype: int64
date
2004-11-05    202
Name: open, dtype: int64
date
2004-11-08    209
Name: open, dtype: int64
date
2004-11-09    204
Name: open, dtype: int64
date
2004-11-10    204
Name: open, dtype: int64
date
2004-11-11    207
Name: open, dtype: int64
date
2004-11-12    206
Name: open, dtype: int64
date
2004-11-15    208
Name: open, dtype: int64
date
2004-11-16    210
Name: open, dtype: int64
date
2004-11-17    207
Name: open, dtype: int64
date
2004-11-18    206
Name: open, dtype: int64
date
2004-11-19    206
Name: open, dtype: int64
date
2004-11-22    200
Name: open, dtype: int64
date
2004-11-24    201
Name: open, dtype: int64
date
2004-11-25    204
Name: open, dtype: int64
date
2004-11-26    205
Name: open, dtype: int64
date
2004-11-29    202
Name: open, dtype: int64
date
2004-11-30    203
Name: open, dtype: int64
date
2004-12-01    203
Name: open, dtype: int64
date
2004-12-02    202
Name: open, dtype: int64
date
2004-12-03    203
Name: open, dtype: int64
date
2004-12-06    201
Name: open, dtype: int64
date
2004-12-07    201
Name: open, dtype: int64
date
2004-12-08    199
Name: open, dtype: int64
date
2004-12-09    199
Name: open, dtype: int64
date
2004-12-10    197
Name: open, dtype: int64
date
2004-12-13    198
Name: open, dtype: int64
date
2004-12-14    194
Name: open, dtype: int64
date
2004-12-15    195
Name: open, dtype: int64
date
2004-12-16    194
Name: open, dtype: int64
date
2004-12-17    192
Name: open, dtype: int64
date
2004-12-20    195
Name: open, dtype: int64
date
2004-12-21    196
Name: open, dtype: int64
date
2004-12-22    198
Name: open, dtype: int64
date
2004-12-24    199
Name: open, dtype: int64
date
2004-12-27    200
Name: open, dtype: int64
date
2004-12-28    199
Name: open, dtype: int64
date
2004-12-29    201
Name: open, dtype: int64
date
2004-12-30    204
Name: open, dtype: int64
date
2005-01-04    203
Name: open, dtype: int64
date
2005-01-05    203
Name: open, dtype: int64
date
2005-01-06    202
Name: open, dtype: int64
date
2005-01-07    205
Name: open, dtype: int64
date
2005-01-11    205
Name: open, dtype: int64
date
2005-01-12    208
Name: open, dtype: int64
date
2005-01-13    206
Name: open, dtype: int64
date
2005-01-14    204
Name: open, dtype: int64
date
2005-01-17    207
Name: open, dtype: int64
date
2005-01-18    207
Name: open, dtype: int64
date
2005-01-19    206
Name: open, dtype: int64
date
2005-01-20    204
Name: open, dtype: int64
date
2005-01-21    203
Name: open, dtype: int64
date
2005-01-24    205
Name: open, dtype: int64
date
2005-01-25    203
Name: open, dtype: int64
date
2005-01-26    205
Name: open, dtype: int64
date
2005-01-27    204
Name: open, dtype: int64
date
2005-01-28    203
Name: open, dtype: int64
date
2005-01-31    206
Name: open, dtype: int64
date
2005-02-01    211
Name: open, dtype: int64
date
2005-02-02    209
Name: open, dtype: int64
date
2005-02-03    212
Name: open, dtype: int64
date
2005-02-04    215
Name: open, dtype: int64
date
2005-02-07    216
Name: open, dtype: int64
date
2005-02-08    221
Name: open, dtype: int64
date
2005-02-09    221
Name: open, dtype: int64
date
2005-02-10    223
Name: open, dtype: int64
date
2005-02-14    227
Name: open, dtype: int64
date
2005-02-15    225
Name: open, dtype: int64
date
2005-02-16    220
Name: open, dtype: int64
date
2005-02-17    217
Name: open, dtype: int64
date
2005-02-18    217
Name: open, dtype: int64
date
2005-02-21    221
Name: open, dtype: int64
date
2005-02-22    223
Name: open, dtype: int64
date
2005-02-23    220
Name: open, dtype: int64
date
2005-02-24    219
Name: open, dtype: int64
date
2005-02-25    223
Name: open, dtype: int64
date
2005-02-28    223
Name: open, dtype: int64
date
2005-03-01    225
Name: open, dtype: int64
date
2005-03-02    232
Name: open, dtype: int64
date
2005-03-03    229
Name: open, dtype: int64
date
2005-03-04    233
Name: open, dtype: int64
date
2005-03-07    234
Name: open, dtype: int64
date
2005-03-08    235
Name: open, dtype: int64
date
2005-03-09    235
Name: open, dtype: int64
date
2005-03-10    233
Name: open, dtype: int64
date
2005-03-11    234
Name: open, dtype: int64
date
2005-03-14    233
Name: open, dtype: int64
date
2005-03-15    236
Name: open, dtype: int64
date
2005-03-16    232
Name: open, dtype: int64
date
2005-03-17    232
Name: open, dtype: int64
date
2005-03-18    234
Name: open, dtype: int64
date
2005-03-22    243
Name: open, dtype: int64
date
2005-03-23    243
Name: open, dtype: int64
date
2005-03-24    244
Name: open, dtype: int64
date
2005-03-25    244
Name: open, dtype: int64
date
2005-03-28    233
Name: open, dtype: int64
date
2005-03-29    235
Name: open, dtype: int64
date
2005-03-30    228
Name: open, dtype: int64
date
2005-03-31    231
Name: open, dtype: int64
date
2005-04-01    234
Name: open, dtype: int64
date
2005-04-04    232
Name: open, dtype: int64
date
2005-04-05    234
Name: open, dtype: int64
date
2005-04-06    235
Name: open, dtype: int64
date
2005-04-07    233
Name: open, dtype: int64
date
2005-04-08    233
Name: open, dtype: int64
date
2005-04-11    238
Name: open, dtype: int64
date
2005-04-12    237
Name: open, dtype: int64
date
2005-04-13    232
Name: open, dtype: int64
date
2005-04-14    227
Name: open, dtype: int64
date
2005-04-15    223
Name: open, dtype: int64
date
2005-04-18    212
Name: open, dtype: int64
date
2005-04-19    217
Name: open, dtype: int64
date
2005-04-20    222
Name: open, dtype: int64
date
2005-04-21    217
Name: open, dtype: int64
date
2005-04-22    230
Name: open, dtype: int64
date
2005-04-25    228
Name: open, dtype: int64
date
2005-04-26    234
Name: open, dtype: int64
date
2005-04-27    230
Name: open, dtype: int64
date
2005-04-28    234
Name: open, dtype: int64
date
2005-05-02    236
Name: open, dtype: int64
date
2005-05-06    239
Name: open, dtype: int64
date
2005-05-09    242
Name: open, dtype: int64
date
2005-05-10    248
Name: open, dtype: int64
date
2005-05-11    245
Name: open, dtype: int64
date
2005-05-12    247
Name: open, dtype: int64
date
2005-05-13    249
Name: open, dtype: int64
date
2005-05-16    248
Name: open, dtype: int64
date
2005-05-17    244
Name: open, dtype: int64
date
2005-05-18    233
Name: open, dtype: int64
date
2005-05-19    242
Name: open, dtype: int64
date
2005-05-20    247
Name: open, dtype: int64
date
2005-05-23    250
Name: open, dtype: int64
date
2005-05-24    254
Name: open, dtype: int64
date
2005-05-25    249
Name: open, dtype: int64
date
2005-05-26    242
Name: open, dtype: int64
date
2005-05-27    245
Name: open, dtype: int64
date
2005-05-30    248
Name: open, dtype: int64
date
2005-05-31    254
Name: open, dtype: int64
date
2005-06-01    253
Name: open, dtype: int64
date
2005-06-02    256
Name: open, dtype: int64
date
2005-06-03    254
Name: open, dtype: int64
date
2005-06-06    255
Name: open, dtype: int64
date
2005-06-07    256
Name: open, dtype: int64
date
2005-06-08    254
Name: open, dtype: int64
date
2005-06-09    263
Name: open, dtype: int64
date
2005-06-10    258
Name: open, dtype: int64
date
2005-06-13    259
Name: open, dtype: int64
date
2005-06-14    259
Name: open, dtype: int64
date
2005-06-15    258
Name: open, dtype: int64
date
2005-06-16    268
Name: open, dtype: int64
date
2005-06-17    265
Name: open, dtype: int64
date
2005-06-20    264
Name: open, dtype: int64
date
2005-06-21    264
Name: open, dtype: int64
date
2005-06-22    267
Name: open, dtype: int64
date
2005-06-23    267
Name: open, dtype: int64
date
2005-06-24    261
Name: open, dtype: int64
date
2005-06-27    260
Name: open, dtype: int64
date
2005-06-28    262
Name: open, dtype: int64
date
2005-06-29    268
Name: open, dtype: int64
date
2005-06-30    267
Name: open, dtype: int64
date
2005-07-01    265
Name: open, dtype: int64
date
2005-07-04    268
Name: open, dtype: int64
date
2005-07-05    271
Name: open, dtype: int64
date
2005-07-06    271
Name: open, dtype: int64
date
2005-07-07    275
Name: open, dtype: int64
date
2005-07-08    278
Name: open, dtype: int64
date
2005-07-11    283
Name: open, dtype: int64
date
2005-07-12    284
Name: open, dtype: int64
date
2005-07-13    283
Name: open, dtype: int64
date
2005-07-14    287
Name: open, dtype: int64
date
2005-07-15    288
Name: open, dtype: int64
date
2005-07-19    282
Name: open, dtype: int64
date
2005-07-20    278
Name: open, dtype: int64
date
2005-07-21    280
Name: open, dtype: int64
date
2005-07-22    276
Name: open, dtype: int64
date
2005-07-25    275
Name: open, dtype: int64
date
2005-07-26    278
Name: open, dtype: int64
date
2005-07-27    278
Name: open, dtype: int64
date
2005-07-28    283
Name: open, dtype: int64
date
2005-07-29    281
Name: open, dtype: int64
date
2005-08-01    280
Name: open, dtype: int64
date
2005-08-02    277
Name: open, dtype: int64
date
2005-08-03    270
Name: open, dtype: int64
date
2005-08-04    264
Name: open, dtype: int64
date
2005-08-05    260
Name: open, dtype: int64
date
2005-08-08    244
Name: open, dtype: int64
date
2005-08-09    260
Name: open, dtype: int64
date
2005-08-10    267
Name: open, dtype: int64
date
2005-08-11    262
Name: open, dtype: int64
date
2005-08-12    260
Name: open, dtype: int64
date
2005-08-15    254
Name: open, dtype: int64
date
2005-08-16    259
Name: open, dtype: int64
date
2005-08-17    256
Name: open, dtype: int64
date
2005-08-18    258
Name: open, dtype: int64
date
2005-08-19    259
Name: open, dtype: int64
date
2005-08-22    260
Name: open, dtype: int64
date
2005-08-23    265
Name: open, dtype: int64
date
2005-08-24    264
Name: open, dtype: int64
date
2005-08-25    263
Name: open, dtype: int64
date
2005-08-26    261
Name: open, dtype: int64
date
2005-08-29    260
Name: open, dtype: int64
date
2005-08-30    259
Name: open, dtype: int64
date
2005-08-31    257
Name: open, dtype: int64
date
2005-09-01    257
Name: open, dtype: int64
date
2005-09-02    255
Name: open, dtype: int64
date
2005-09-05    256
Name: open, dtype: int64
date
2005-09-06    257
Name: open, dtype: int64
date
2005-09-07    257
Name: open, dtype: int64
date
2005-09-08    256
Name: open, dtype: int64
date
2005-09-09    253
Name: open, dtype: int64
date
2005-09-12    256
Name: open, dtype: int64
date
2005-09-13    253
Name: open, dtype: int64
date
2005-09-14    254
Name: open, dtype: int64
date
2005-09-15    256
Name: open, dtype: int64
date
2005-09-16    260
Name: open, dtype: int64
date
2005-09-20    265
Name: open, dtype: int64
date
2005-09-21    267
Name: open, dtype: int64
date
2005-09-22    259
Name: open, dtype: int64
date
2005-09-26    260
Name: open, dtype: int64
date
2005-09-27    261
Name: open, dtype: int64
date
2005-09-28    267
Name: open, dtype: int64
date
2005-09-29    284
Name: open, dtype: int64
date
2005-09-30    281
Name: open, dtype: int64
date
2005-10-03    269
Name: open, dtype: int64
date
2005-10-04    270
Name: open, dtype: int64
date
2005-10-05    270
Name: open, dtype: int64
date
2005-10-06    265
Name: open, dtype: int64
date
2005-10-07    262
Name: open, dtype: int64
date
2005-10-11    266
Name: open, dtype: int64
date
2005-10-12    271
Name: open, dtype: int64
date
2005-10-13    270
Name: open, dtype: int64
date
2005-10-14    270
Name: open, dtype: int64
date
2005-10-17    267
Name: open, dtype: int64
date
2005-10-18    266
Name: open, dtype: int64
date
2005-10-19    265
Name: open, dtype: int64
date
2005-10-20    267
Name: open, dtype: int64
date
2005-10-21    265
Name: open, dtype: int64
date
2005-10-24    267
Name: open, dtype: int64
date
2005-10-25    269
Name: open, dtype: int64
date
2005-10-26    269
Name: open, dtype: int64
date
2005-10-27    276
Name: open, dtype: int64
date
2005-10-28    276
Name: open, dtype: int64
date
2005-10-31    278
Name: open, dtype: int64
date
2005-11-01    281
Name: open, dtype: int64
date
2005-11-02    280
Name: open, dtype: int64
date
2005-11-04    280
Name: open, dtype: int64
date
2005-11-07    283
Name: open, dtype: int64
date
2005-11-08    303
Name: open, dtype: int64
date
2005-11-09    298
Name: open, dtype: int64
date
2005-11-10    299
Name: open, dtype: int64
date
2005-11-11    296
Name: open, dtype: int64
date
2005-11-14    300
Name: open, dtype: int64
date
2005-11-15    294
Name: open, dtype: int64
date
2005-11-16    288
Name: open, dtype: int64
date
2005-11-17    293
Name: open, dtype: int64
date
2005-11-18    298
Name: open, dtype: int64
date
2005-11-21    297
Name: open, dtype: int64
date
2005-11-22    291
Name: open, dtype: int64
date
2005-11-24    296
Name: open, dtype: int64
date
2005-11-25    290
Name: open, dtype: int64
date
2005-11-28    290
Name: open, dtype: int64
date
2005-11-29    292
Name: open, dtype: int64
date
2005-11-30    300
Name: open, dtype: int64
date
2005-12-01    304
Name: open, dtype: int64
date
2005-12-02    305
Name: open, dtype: int64
date
2005-12-05    306
Name: open, dtype: int64
date
2005-12-06    315
Name: open, dtype: int64
date
2005-12-07    319
Name: open, dtype: int64
date
2005-12-08    325
Name: open, dtype: int64
date
2005-12-09    313
Name: open, dtype: int64
date
2005-12-12    328
Name: open, dtype: int64
date
2005-12-13    327
Name: open, dtype: int64
date
2005-12-14    327
Name: open, dtype: int64
date
2005-12-15    333
Name: open, dtype: int64
date
2005-12-16    323
Name: open, dtype: int64
date
2005-12-19    317
Name: open, dtype: int64
date
2005-12-20    319
Name: open, dtype: int64
date
2005-12-21    321
Name: open, dtype: int64
date
2005-12-22    323
Name: open, dtype: int64
date
2005-12-26    322
Name: open, dtype: int64
date
2005-12-27    320
Name: open, dtype: int64
date
2005-12-28    315
Name: open, dtype: int64
date
2005-12-29    324
Name: open, dtype: int64
date
2005-12-30    322
Name: open, dtype: int64
date
2006-01-04    328
Name: open, dtype: int64
date
2006-01-05    328
Name: open, dtype: int64
date
2006-01-06    342
Name: open, dtype: int64
date
2006-01-10    338
Name: open, dtype: int64
date
2006-01-11    335
Name: open, dtype: int64
date
2006-01-12    335
Name: open, dtype: int64
date
2006-01-13    335
Name: open, dtype: int64
date
2006-01-16    336
Name: open, dtype: int64
date
2006-01-17    331
Name: open, dtype: int64
date
2006-01-18    316
Name: open, dtype: int64
date
2006-01-19    298
Name: open, dtype: int64
date
2006-01-20    318
Name: open, dtype: int64
date
2006-01-23    294
Name: open, dtype: int64
date
2006-01-24    303
Name: open, dtype: int64
date
2006-01-25    308
Name: open, dtype: int64
date
2006-01-26    311
Name: open, dtype: int64
date
2006-01-27    314
Name: open, dtype: int64
date
2006-01-30    325
Name: open, dtype: int64
date
2006-01-31    324
Name: open, dtype: int64
date
2006-02-01    314
Name: open, dtype: int64
date
2006-02-02    312
Name: open, dtype: int64
date
2006-02-03    310
Name: open, dtype: int64
date
2006-02-06    312
Name: open, dtype: int64
date
2006-02-07    313
Name: open, dtype: int64
date
2006-02-08    311
Name: open, dtype: int64
date
2006-02-09    310
Name: open, dtype: int64
date
2006-02-10    304
Name: open, dtype: int64
date
2006-02-13    292
Name: open, dtype: int64
date
2006-02-14    287
Name: open, dtype: int64
date
2006-02-15    293
Name: open, dtype: int64
date
2006-02-16    291
Name: open, dtype: int64
date
2006-02-17    287
Name: open, dtype: int64
date
2006-02-20    278
Name: open, dtype: int64
date
2006-02-21    267
Name: open, dtype: int64
date
2006-02-22    276
Name: open, dtype: int64
date
2006-02-23    284
Name: open, dtype: int64
date
2006-02-24    288
Name: open, dtype: int64
date
2006-02-27    292
Name: open, dtype: int64
date
2006-02-28    291
Name: open, dtype: int64
date
2006-03-01    284
Name: open, dtype: int64
date
2006-03-02    287
Name: open, dtype: int64
date
2006-03-03    281
Name: open, dtype: int64
date
2006-03-06    281
Name: open, dtype: int64
date
2006-03-07    288
Name: open, dtype: int64
date
2006-03-08    292
Name: open, dtype: int64
date
2006-03-09    293
Name: open, dtype: int64
date
2006-03-10    293

Name: open, dtype: int64
date
2008-06-25    211
Name: open, dtype: int64
date
2008-06-26    210
Name: open, dtype: int64
date
2008-06-27    206
Name: open, dtype: int64
date
2008-06-30    205
Name: open, dtype: int64
date
2008-07-01    205
Name: open, dtype: int64
date
2008-07-02    211
Name: open, dtype: int64
date
2008-07-03    204
Name: open, dtype: int64
date
2008-07-04    204
Name: open, dtype: int64
date
2008-07-07    212
Name: open, dtype: int64
date
2008-07-08    208
Name: open, dtype: int64
date
2008-07-09    203
Name: open, dtype: int64
date
2008-07-10    199
Name: open, dtype: int64
date
2008-07-11    202
Name: open, dtype: int64
date
2008-07-14    202
Name: open, dtype: int64
date
2008-07-15    203
Name: open, dtype: int64
date
2008-07-16    198
Name: open, dtype: int64
date
2008-07-17    200
Name: open, dtype: int64
date
2008-07-18    202
Name: open, dtype: int64
date
2008-07-22    194
Name: open, dtype: int64
date
2008-07-23    200
Name: open, dtype: int64
date
2008-07-24    205
Name: open, dtype: int64
date
2008-07-25    205
Name: open, dtype: int64
date
2008-07-28    207
Name: open, dtype: int64
date
2008-07-29    204
Name: open, dtype: int64
date
2008-07-30    205
Name: open, dtype: int64
date
2008-07-31    220
Name: open, dtype: int64
date
2008-08-01    215
Name: open, dtype: int64
date
2008-08-04    205
Name: open, dtype: int64
date
2008-08-05    200
Name: open, dtype: int64
date
2008-08-06    206
Name: open, dtype: int64
date
2008-08-07    211
Name: open, dtype: int64
date
2008-08-08    201
Name: open, dtype: int64
date
2008-08-11    205
Name: open, dtype: int64
date
2008-08-12    205
Name: open, dtype: int64
date
2008-08-13    200
Name: open, dtype: int64
date
2008-08-14    196
Name: open, dtype: int64
date
2008-08-15    193
Name: open, dtype: int64
date
2008-08-18    195
Name: open, dtype: int64
date
2008-08-19    196
Name: open, dtype: int64
date
2008-08-20    201
Name: open, dtype: int64
date
2008-08-21    200
Name: open, dtype: int64
date
2008-08-22    196
Name: open, dtype: int64
date
2008-08-25    199
Name: open, dtype: int64
date
2008-08-26    194
Name: open, dtype: int64
date
2008-08-27    194
Name: open, dtype: int64
date
2008-08-28    197
Name: open, dtype: int64
date
2008-08-29    198
Name: open, dtype: int64
date
2008-09-01    198
Name: open, dtype: int64
date
2008-09-02    200
Name: open, dtype: int64
date
2008-09-03    192
Name: open, dtype: int64
date
2008-09-04    192
Name: open, dtype: int64
date
2008-09-05    186
Name: open, dtype: int64
date
2008-09-08    186
Name: open, dtype: int64
date
2008-09-09    192
Name: open, dtype: int64
date
2008-09-10    188
Name: open, dtype: int64
date
2008-09-11    190
Name: open, dtype: int64
date
2008-09-12    188
Name: open, dtype: int64
date
2008-09-16    179
Name: open, dtype: int64
date
2008-09-17    186
Name: open, dtype: int64
date
2008-09-18    170
Name: open, dtype: int64
date
2008-09-19    183
Name: open, dtype: int64
date
2008-09-22    189
Name: open, dtype: int64
date
2008-09-24    180
Name: open, dtype: int64
date
2008-09-25    178
Name: open, dtype: int64
date
2008-09-26    179
Name: open, dtype: int64
date
2008-09-29    178
Name: open, dtype: int64
date
2008-09-30    169
Name: open, dtype: int64
date
2008-10-01    172
Name: open, dtype: int64
date
2008-10-02    173
Name: open, dtype: int64
date
2008-10-03    170
Name: open, dtype: int64
date
2008-10-06    168
Name: open, dtype: int64
date
2008-10-07    140
Name: open, dtype: int64
date
2008-10-08    138
Name: open, dtype: int64
date
2008-10-09    136
Name: open, dtype: int64
date
2008-10-10    134
Name: open, dtype: int64
date
2008-10-14    163
Name: open, dtype: int64
date
2008-10-15    147
Name: open, dtype: int64
date
2008-10-16    140
Name: open, dtype: int64
date
2008-10-17    146
Name: open, dtype: int64
date
2008-10-20    160
Name: open, dtype: int64
date
2008-10-21    175
Name: open, dtype: int64
date
2008-10-22    170
Name: open, dtype: int64
date
2008-10-23    168
Name: open, dtype: int64
date
2008-10-24    167
Name: open, dtype: int64
date
2008-10-27    160
Name: open, dtype: int64
date
2008-10-28    145
Name: open, dtype: int64
date
2008-10-29    170
Name: open, dtype: int64
date
2008-10-30    173
Name: open, dtype: int64
date
2008-10-31    187
Name: open, dtype: int64
date
2008-11-04    188
Name: open, dtype: int64
date
2008-11-05    201
Name: open, dtype: int64
date
2008-11-06    197
Name: open, dtype: int64
date
2008-11-07    197
Name: open, dtype: int64
date
2008-11-10    202
Name: open, dtype: int64
date
2008-11-11    206
Name: open, dtype: int64
date
2008-11-12    205
Name: open, dtype: int64
date
2008-11-13    200
Name: open, dtype: int64
date
2008-11-14    211
Name: open, dtype: int64
date
2008-11-17    203
Name: open, dtype: int64
date
2008-11-18    205
Name: open, dtype: int64
date
2008-11-19    210
Name: open, dtype: int64
date
2008-11-20    210
Name: open, dtype: int64
date
2008-11-21    200
Name: open, dtype: int64
date
2008-11-25    211
Name: open, dtype: int64
date
2008-11-26    206
Name: open, dtype: int64
date
2008-11-27    210
Name: open, dtype: int64
date
2008-11-28    214
Name: open, dtype: int64
date
2008-12-01    212
Name: open, dtype: int64
date
2008-12-02    209
Name: open, dtype: int64
date
2008-12-03    210
Name: open, dtype: int64
date
2008-12-04    212
Name: open, dtype: int64
date
2008-12-05    208
Name: open, dtype: int64
date
2008-12-08    204
Name: open, dtype: int64
date
2008-12-09    212
Name: open, dtype: int64
date
2008-12-10    208
Name: open, dtype: int64
date
2008-12-11    214
Name: open, dtype: int64
date
2008-12-12    211
Name: open, dtype: int64
date
2008-12-15    213
Name: open, dtype: int64
date
2008-12-16    214
Name: open, dtype: int64
date
2008-12-17    217
Name: open, dtype: int64
date
2008-12-18    215
Name: open, dtype: int64
date
2008-12-19    216
Name: open, dtype: int64
date
2008-12-22    207
Name: open, dtype: int64
date
2008-12-24    203
Name: open, dtype: int64
date
2008-12-25    203
Name: open, dtype: int64
date
2008-12-26    203
Name: open, dtype: int64
date
2008-12-29    208
Name: open, dtype: int64
date
2008-12-30    207
Name: open, dtype: int64
date
2009-01-05    210
Name: open, dtype: int64
date
2009-01-06    207
Name: open, dtype: int64
date
2009-01-07    205
Name: open, dtype: int64
date
2009-01-08    205
Name: open, dtype: int64
date
2009-01-09    207
Name: open, dtype: int64
date
2009-01-13    201
Name: open, dtype: int64
date
2009-01-14    201
Name: open, dtype: int64
date
2009-01-15    199
Name: open, dtype: int64
date
2009-01-16    197
Name: open, dtype: int64
date
2009-01-19    198
Name: open, dtype: int64
date
2009-01-20    200
Name: open, dtype: int64
date
2009-01-21    195
Name: open, dtype: int64
date
2009-01-22    195
Name: open, dtype: int64
date
2009-01-23    193
Name: open, dtype: int64
date
2009-01-26    192
Name: open, dtype: int64
date
2009-01-27    190
Name: open, dtype: int64
date
2009-01-28    196
Name: open, dtype: int64
date
2009-01-29    197
Name: open, dtype: int64
date
2009-01-30    195
Name: open, dtype: int64
date
2009-02-02    197
Name: open, dtype: int64
date
2009-02-03    199
Name: open, dtype: int64
date
2009-02-04    197
Name: open, dtype: int64
date
2009-02-05    197
Name: open, dtype: int64
date
2009-02-06    194
Name: open, dtype: int64
date
2009-02-09    191
Name: open, dtype: int64
date
2009-02-10    191
Name: open, dtype: int64
date
2009-02-12    190
Name: open, dtype: int64
date
2009-02-13    190
Name: open, dtype: int64
date
2009-02-16    192
Name: open, dtype: int64
date
2009-02-17    192
Name: open, dtype: int64
date
2009-02-18    187
Name: open, dtype: int64
date
2009-02-19    190
Name: open, dtype: int64
date
2009-02-20    185
Name: open, dtype: int64
date
2009-02-23    180
Name: open, dtype: int64
date
2009-02-24    178
Name: open, dtype: int64
date
2009-02-25    179
Name: open, dtype: int64
date
2009-02-26    176
Name: open, dtype: int64
date
2009-02-27    177
Name: open, dtype: int64
date
2009-03-02    178
Name: open, dtype: int64
date
2009-03-03    178
Name: open, dtype: int64
date
2009-03-04    179
Name: open, dtype: int64
date
2009-03-05    184
Name: open, dtype: int64
date
2009-03-06    182
Name: open, dtype: int64
date
2009-03-09    182
Name: open, dtype: int64
date
2009-03-10    177
Name: open, dtype: int64
date
2009-03-11    180
Name: open, dtype: int64
date
2009-03-12    178
Name: open, dtype: int64
date
2009-03-13    178
Name: open, dtype: int64
date
2009-03-16    180
Name: open, dtype: int64
date
2009-03-17    185
Name: open, dtype: int64
date
2009-03-18    188
Name: open, dtype: int64
date
2009-03-19    189
Name: open, dtype: int64
date
2009-03-23    194
Name: open, dtype: int64
date
2009-03-24    201
Name: open, dtype: int64
date
2009-03-25    204
Name: open, dtype: int64
date
2009-03-26    197
Name: open, dtype: int64
date
2009-03-27    199
Name: open, dtype: int64
date
2009-03-30    192
Name: open, dtype: int64
date
2009-03-31    190
Name: open, dtype: int64
date
2009-04-01    192
Name: open, dtype: int64
date
2009-04-02    188
Name: open, dtype: int64
date
2009-04-03    190
Name: open, dtype: int64
date
2009-04-06    188
Name: open, dtype: int64
date
2009-04-07    183
Name: open, dtype: int64
date
2009-04-08    182
Name: open, dtype: int64
date
2009-04-09    181
Name: open, dtype: int64
date
2009-04-10    182
Name: open, dtype: int64
date
2009-04-13    179
Name: open, dtype: int64
date
2009-04-14    181
Name: open, dtype: int64
date
2009-04-15    180
Name: open, dtype: int64
date
2009-04-16    186
Name: open, dtype: int64
date
2009-04-17    183
Name: open, dtype: int64
date
2009-04-20    184
Name: open, dtype: int64
date
2009-04-21    182
Name: open, dtype: int64
date
2009-04-22    180
Name: open, dtype: int64
date
2009-04-23    188
Name: open, dtype: int64
date
2009-04-24    191
Name: open, dtype: int64
date
2009-04-27    189
Name: open, dtype: int64
date
2009-04-28    188
Name: open, dtype: int64
date
2009-04-30    185
Name: open, dtype: int64
date
2009-05-01    184
Name: open, dtype: int64
date
2009-05-07    187
Name: open, dtype: int64
date
2009-05-08    185
Name: open, dtype: int64
date
2009-05-11    186
Name: open, dtype: int64
date
2009-05-12    190
Name: open, dtype: int64
date
2009-05-13    190
Name: open, dtype: int64
date
2009-05-14    188
Name: open, dtype: int64
date
2009-05-15    191
Name: open, dtype: int64
date
2009-05-18    196
Name: open, dtype: int64
date
2009-05-19    196
Name: open, dtype: int64
date
2009-05-20    194
Name: open, dtype: int64
date
2009-05-21    191
Name: open, dtype: int64
date
2009-05-22    190
Name: open, dtype: int64
date
2009-05-25    190
Name: open, dtype: int64
date
2009-05-26    191
Name: open, dtype: int64
date
2009-05-27    193
Name: open, dtype: int64
date
2009-05-28    190
Name: open, dtype: int64
date
2009-05-29    191
Name: open, dtype: int64
date
2009-06-01    191
Name: open, dtype: int64
date
2009-06-02    194
Name: open, dtype: int64
date
2009-06-03    192
Name: open, dtype: int64
date
2009-06-04    190
Name: open, dtype: int64
date
2009-06-05    207
Name: open, dtype: int64
date
2009-06-08    204
Name: open, dtype: int64
date
2009-06-09    201
Name: open, dtype: int64
date
2009-06-10    199
Name: open, dtype: int64
date
2009-06-11    202
Name: open, dtype: int64
date
2009-06-12    201
Name: open, dtype: int64
date
2009-06-15    201
Name: open, dtype: int64
date
2009-06-16    202
Name: open, dtype: int64
date
2009-06-17    199
Name: open, dtype: int64
date
2009-06-18    205
Name: open, dtype: int64
date
2009-06-19    205
Name: open, dtype: int64
date
2009-06-22    205
Name: open, dtype: int64
date
2009-06-23    202
Name: open, dtype: int64
date
2009-06-24    199
Name: open, dtype: int64
date
2009-06-25    202
Name: open, dtype: int64
date
2009-06-26    203
Name: open, dtype: int64
date
2009-06-29    203
Name: open, dtype: int64
date
2009-06-30    202
Name: open, dtype: int64
date
2009-07-01    200
Name: open, dtype: int64
date
2009-07-02    201
Name: open, dtype: int64
date
2009-07-03    197
Name: open, dtype: int64
date
2009-07-06    196
Name: open, dtype: int64
date
2009-07-07    199
Name: open, dtype: int64
date
2009-07-08    195
Name: open, dtype: int64
date
2009-07-09    194
Name: open, dtype: int64
date
2009-07-10    194
Name: open, dtype: int64
date
2009-07-13    194
Name: open, dtype: int64
date
2009-07-14    189
Name: open, dtype: int64
date
2009-07-15    192
Name: open, dtype: int64
date
2009-07-16    190
Name: open, dtype: int64
date
2009-07-17    192
Name: open, dtype: int64
date
2009-07-21    190
Name: open, dtype: int64
date
2009-07-22    192
Name: open, dtype: int64
date
2009-07-23    193
Name: open, dtype: int64
date
2009-07-24    195
Name: open, dtype: int64
date
2009-07-27    194
Name: open, dtype: int64
date
2009-07-28    195
Name: open, dtype: int64
date
2009-07-29    194
Name: open, dtype: int64
date
2009-07-30    190
Name: open, dtype: int64
date
2009-07-31    193
Name: open, dtype: int64
date
2009-08-03    194
Name: open, dtype: int64
date
2009-08-04    193
Name: open, dtype: int64
date
2009-08-05    193
Name: open, dtype: int64
date
2009-08-06    195
Name: open, dtype: int64
date
2009-08-07    194
Name: open, dtype: int64
date
2009-08-10    195
Name: open, dtype: int64
date
2009-08-11    195
Name: open, dtype: int64
date
2009-08-12    194
Name: open, dtype: int64
date
2009-08-13    195
Name: open, dtype: int64
date
2009-08-14    199
Name: open, dtype: int64
date
2009-08-17    199
Name: open, dtype: int64
date
2009-08-18    195
Name: open, dtype: int64
date
2009-08-19    195
Name: open, dtype: int64
date
2009-08-20    195
Name: open, dtype: int64
date
2009-08-21    194
Name: open, dtype: int64
date
2009-08-24    195
Name: open, dtype: int64
date
2009-08-25    196
Name: open, dtype: int64
date
2009-08-26    196
Name: open, dtype: int64
date
2009-08-27    196
Name: open, dtype: int64
date
2009-08-28    193
Name: open, dtype: int64
date
2009-08-31    193
Name: open, dtype: int64
date
2009-09-01    191
Name: open, dtype: int64
date
2009-09-02    191
Name: open, dtype: int64
date
2009-09-03    190
Name: open, dtype: int64
date
2009-09-04    191
Name: open, dtype: int64
date
2009-09-07    192
Name: open, dtype: int64
date
2009-09-08    191
Name: open, dtype: int64
date
2009-09-09    190
Name: open, dtype: int64
date
2009-09-10    189
Name: open, dtype: int64
date
2009-09-11    190
Name: open, dtype: int64
date
2009-09-14    189
Name: open, dtype: int64
date
2009-09-15    187
Name: open, dtype: int64
date
2009-09-16    188
Name: open, dtype: int64
date
2009-09-17    193
Name: open, dtype: int64
date
2009-09-18    192
Name: open, dtype: int64
date
2009-09-24    194
Name: open, dtype: int64
date
2009-09-25    195
Name: open, dtype: int64
date
2009-09-28    189
Name: open, dtype: int64
date
2009-09-29    191
Name: open, dtype: int64
date
2009-09-30    189
Name: open, dtype: int64
date
2009-10-01    190
Name: open, dtype: int64
date
2009-10-02    187
Name: open, dtype: int64
date
2009-10-05    188
Name: open, dtype: int64
date
2009-10-06    187
Name: open, dtype: int64
date
2009-10-07    188
Name: open, dtype: int64
date
2009-10-08    188
Name: open, dtype: int64
date
2009-10-09    187
Name: open, dtype: int64
date
2009-10-13    187
Name: open, dtype: int64
date
2009-10-14    189
Name: open, dtype: int64
date
2009-10-15    188
Name: open, dtype: int64
date
2009-10-16    188
Name: open, dtype: int64
date
2009-10-19    187
Name: open, dtype: int64
date
2009-10-20    189
Name: open, dtype: int64
date
2009-10-21    187
Name: open, dtype: int64
date
2009-10-22    187
Name: open, dtype: int64
date
2009-10-23    187
Name: open, dtype: int64
date
2009-10-26    186
Name: open, dtype: int64
date
2009-10-27    186
Name: open, dtype: int64
date
2009-10-28    186
Name: open, dtype: int64
date
2009-10-29    183
Name: open, dtype: int64
date
2009-10-30    184
Name: open, dtype: int64
date
2009-11-02    183
Name: open, dtype: int64
date
2009-11-04    183
Name: open, dtype: int64
date
2009-11-05    182
Name: open, dtype: int64
date
2009-11-06    182
Name: open, dtype: int64
date
2009-11-09    180
Name: open, dtype: int64
date
2009-11-10    182
Name: open, dtype: int64
date
2009-11-11    181
Name: open, dtype: int64
date
2009-11-12    181
Name: open, dtype: int64
date
2009-11-13    181
Name: open, dtype: int64
date
2009-11-16    178
Name: open, dtype: int64
date
2009-11-17    180
Name: open, dtype: int64
date
2009-11-18    175
Name: open, dtype: int64
date
2009-11-19    171
Name: open, dtype: int64
date
2009-11-20    170
Name: open, dtype: int64
date
2009-11-24    172
Name: open, dtype: int64
date
2009-11-25    171
Name: open, dtype: int64
date
2009-11-26    171
Name: open, dtype: int64
date
2009-11-27    170
Name: open, dtype: int64
date
2009-11-30    171
Name: open, dtype: int64
date
2009-12-01    175
Name: open, dtype: int64
date
2009-12-02    178
Name: open, dtype: int64
date
2009-12-03    178
Name: open, dtype: int64
date
2009-12-04    180
Name: open, dtype: int64
date
2009-12-07    180
Name: open, dtype: int64
date
2009-12-08    179
Name: open, dtype: int64
date
2009-12-09    177
Name: open, dtype: int64
date
2009-12-10    178
Name: open, dtype: int64
date
2009-12-11    178
Name: open, dtype: int64
date
2009-12-14    179
Name: open, dtype: int64
date
2009-12-15    178
Name: open, dtype: int64
date
2009-12-16    178
Name: open, dtype: int64
date
2009-12-17    179
Name: open, dtype: int64
date
2009-12-18    180
Name: open, dtype: int64
date
2009-12-21    180
Name: open, dtype: int64
date
2009-12-22    183
Name: open, dtype: int64
date
2009-12-24    184
Name: open, dtype: int64
date
2009-12-25    184
Name: open, dtype: int64
date
2009-12-28    183
Name: open, dtype: int64
date
2009-12-29    183
Name: open, dtype: int64
date
2009-12-30    185
Name: open, dtype: int64
date
2010-01-04    185
Name: open, dtype: int64
date
2010-01-05    187
Name: open, dtype: int64
date
2010-01-06    188
Name: open, dtype: int64
date
2010-01-07    188
Name: open, dtype: int64
date
2010-01-08    190
Name: open, dtype: int64
date
2010-01-12    190
Name: open, dtype: int64
date
2010-01-13    191
Name: open, dtype: int64
date
2010-01-14    190
Name: open, dtype: int64
date
2010-01-15    189
Name: open, dtype: int64
date
2010-01-18    189
Name: open, dtype: int64
date
2010-01-19    190
Name: open, dtype: int64
date
2010-01-20    192
Name: open, dtype: int64
date
2010-01-21    191
Name: open, dtype: int64
date
2010-01-22    190
Name: open, dtype: int64
date
2010-01-25    189
Name: open, dtype: int64
date
2010-01-26    190
Name: open, dtype: int64
date
2010-01-27    188
Name: open, dtype: int64
date
2010-01-28    189
Name: open, dtype: int64
date
2010-01-29    188
Name: open, dtype: int64
date
2010-02-01    187
Name: open, dtype: int64
date
2010-02-02    188
Name: open, dtype: int64
date
2010-02-03    190
Name: open, dtype: int64
date
2010-02-04    192
Name: open, dtype: int64
date
2010-02-05    189
Name: open, dtype: int64
date
2010-02-08    189
Name: open, dtype: int64
date
2010-02-09    188
Name: open, dtype: int64
date
2010-02-10    190
Name: open, dtype: int64
date
2010-02-12    189
Name: open, dtype: int64
date
2010-02-15    190
Name: open, dtype: int64
date
2010-02-16    190
Name: open, dtype: int64
date
2010-02-17    191
Name: open, dtype: int64
date
2010-02-18    192
Name: open, dtype: int64
date
2010-02-19    195
Name: open, dtype: int64
date
2010-02-22    193
Name: open, dtype: int64
date
2010-02-23    193
Name: open, dtype: int64
date
2010-02-24    194
Name: open, dtype: int64
date
2010-02-25    194
Name: open, dtype: int64
date
2010-02-26    194
Name: open, dtype: int64
date
2010-03-01    195
Name: open, dtype: int64
date
2010-03-02    196
Name: open, dtype: int64
date
2010-03-03    199
Name: open, dtype: int64
date
2010-03-04    199
Name: open, dtype: int64
date
2010-03-05    198
Name: open, dtype: int64
date
2010-03-08    200
Name: open, dtype: int64
date
2010-03-09    200
Name: open, dtype: int64
date

date
2012-06-26    181
Name: open, dtype: int64
date
2012-06-27    181
Name: open, dtype: int64
date
2012-06-28    185
Name: open, dtype: int64
date
2012-06-29    187
Name: open, dtype: int64
date
2012-07-02    191
Name: open, dtype: int64
date
2012-07-03    188
Name: open, dtype: int64
date
2012-07-04    185
Name: open, dtype: int64
date
2012-07-05    193
Name: open, dtype: int64
date
2012-07-06    192
Name: open, dtype: int64
date
2012-07-09    189
Name: open, dtype: int64
date
2012-07-10    190
Name: open, dtype: int64
date
2012-07-11    188
Name: open, dtype: int64
date
2012-07-12    187
Name: open, dtype: int64
date
2012-07-13    187
Name: open, dtype: int64
date
2012-07-17    187
Name: open, dtype: int64
date
2012-07-18    186
Name: open, dtype: int64
date
2012-07-19    187
Name: open, dtype: int64
date
2012-07-20    189
Name: open, dtype: int64
date
2012-07-23    186
Name: open, dtype: int64
date
2012-07-24    183
Name: open, dtype: int64
date
2012-07-25    181
Name: open, dtype: int64
date
2012-07-26    181
Name: open, dtype: int64
date
2012-07-27    183
Name: open, dtype: int64
date
2012-07-30    185
Name: open, dtype: int64
date
2012-07-31    187
Name: open, dtype: int64
date
2012-08-01    188
Name: open, dtype: int64
date
2012-08-02    188
Name: open, dtype: int64
date
2012-08-03    186
Name: open, dtype: int64
date
2012-08-06    187
Name: open, dtype: int64
date
2012-08-07    186
Name: open, dtype: int64
date
2012-08-08    186
Name: open, dtype: int64
date
2012-08-09    187
Name: open, dtype: int64
date
2012-08-10    186
Name: open, dtype: int64
date
2012-08-13    185
Name: open, dtype: int64
date
2012-08-14    187
Name: open, dtype: int64
date
2012-08-15    190
Name: open, dtype: int64
date
2012-08-16    189
Name: open, dtype: int64
date
2012-08-17    188
Name: open, dtype: int64
date
2012-08-20    190
Name: open, dtype: int64
date
2012-08-21    190
Name: open, dtype: int64
date
2012-08-22    188
Name: open, dtype: int64
date
2012-08-23    187
Name: open, dtype: int64
date
2012-08-24    186
Name: open, dtype: int64
date
2012-08-27    185
Name: open, dtype: int64
date
2012-08-28    184
Name: open, dtype: int64
date
2012-08-29    183
Name: open, dtype: int64
date
2012-08-30    182
Name: open, dtype: int64
date
2012-08-31    178
Name: open, dtype: int64
date
2012-09-03    178
Name: open, dtype: int64
date
2012-09-04    177
Name: open, dtype: int64
date
2012-09-05    177
Name: open, dtype: int64
date
2012-09-06    177
Name: open, dtype: int64
date
2012-09-07    177
Name: open, dtype: int64
date
2012-09-10    177
Name: open, dtype: int64
date
2012-09-11    178
Name: open, dtype: int64
date
2012-09-12    178
Name: open, dtype: int64
date
2012-09-13    179
Name: open, dtype: int64
date
2012-09-14    180
Name: open, dtype: int64
date
2012-09-18    178
Name: open, dtype: int64
date
2012-09-19    178
Name: open, dtype: int64
date
2012-09-20    180
Name: open, dtype: int64
date
2012-09-21    178
Name: open, dtype: int64
date
2012-09-24    179
Name: open, dtype: int64
date
2012-09-25    176
Name: open, dtype: int64
date
2012-09-26    176
Name: open, dtype: int64
date
2012-09-27    176
Name: open, dtype: int64
date
2012-09-28    176
Name: open, dtype: int64
date
2012-10-01    174
Name: open, dtype: int64
date
2012-10-02    173
Name: open, dtype: int64
date
2012-10-03    172
Name: open, dtype: int64
date
2012-10-04    172
Name: open, dtype: int64
date
2012-10-05    172
Name: open, dtype: int64
date
2012-10-09    173
Name: open, dtype: int64
date
2012-10-10    172
Name: open, dtype: int64
date
2012-10-11    173
Name: open, dtype: int64
date
2012-10-12    173
Name: open, dtype: int64
date
2012-10-15    175
Name: open, dtype: int64
date
2012-10-16    177
Name: open, dtype: int64
date
2012-10-17    178
Name: open, dtype: int64
date
2012-10-18    178
Name: open, dtype: int64
date
2012-10-19    178
Name: open, dtype: int64
date
2012-10-22    178
Name: open, dtype: int64
date
2012-10-23    178
Name: open, dtype: int64
date
2012-10-24    177
Name: open, dtype: int64
date
2012-10-25    178
Name: open, dtype: int64
date
2012-10-26    178
Name: open, dtype: int64
date
2012-10-29    177
Name: open, dtype: int64
date
2012-10-30    177
Name: open, dtype: int64
date
2012-10-31    178
Name: open, dtype: int64
date
2012-11-01    178
Name: open, dtype: int64
date
2012-11-02    177
Name: open, dtype: int64
date
2012-11-05    176
Name: open, dtype: int64
date
2012-11-06    178
Name: open, dtype: int64
date
2012-11-07    178
Name: open, dtype: int64
date
2012-11-08    176
Name: open, dtype: int64
date
2012-11-09    177
Name: open, dtype: int64
date
2012-11-12    176
Name: open, dtype: int64
date
2012-11-13    175
Name: open, dtype: int64
date
2012-11-14    175
Name: open, dtype: int64
date
2012-11-15    175
Name: open, dtype: int64
date
2012-11-16    177
Name: open, dtype: int64
date
2012-11-19    177
Name: open, dtype: int64
date
2012-11-20    180
Name: open, dtype: int64
date
2012-11-21    179
Name: open, dtype: int64
date
2012-11-22    180
Name: open, dtype: int64
date
2012-11-26    180
Name: open, dtype: int64
date
2012-11-27    180
Name: open, dtype: int64
date
2012-11-28    182
Name: open, dtype: int64
date
2012-11-29    182
Name: open, dtype: int64
date
2012-11-30    182
Name: open, dtype: int64
date
2012-12-03    183
Name: open, dtype: int64
date
2012-12-04    183
Name: open, dtype: int64
date
2012-12-05    182
Name: open, dtype: int64
date
2012-12-06    183
Name: open, dtype: int64
date
2012-12-07    185
Name: open, dtype: int64
date
2012-12-10    185
Name: open, dtype: int64
date
2012-12-11    185
Name: open, dtype: int64
date
2012-12-12    186
Name: open, dtype: int64
date
2012-12-13    185
Name: open, dtype: int64
date
2012-12-14    185
Name: open, dtype: int64
date
2012-12-17    185
Name: open, dtype: int64
date
2012-12-18    186
Name: open, dtype: int64
date
2012-12-19    187
Name: open, dtype: int64
date
2012-12-20    189
Name: open, dtype: int64
date
2012-12-21    190
Name: open, dtype: int64
date
2012-12-25    190
Name: open, dtype: int64
date
2012-12-26    190
Name: open, dtype: int64
date
2012-12-27    192
Name: open, dtype: int64
date
2012-12-28    194
Name: open, dtype: int64
date
2013-01-04    197
Name: open, dtype: int64
date
2013-01-07    196
Name: open, dtype: int64
date
2013-01-08    195
Name: open, dtype: int64
date
2013-01-09    195
Name: open, dtype: int64
date
2013-01-10    195
Name: open, dtype: int64
date
2013-01-11    196
Name: open, dtype: int64
date
2013-01-15    195
Name: open, dtype: int64
date
2013-01-16    198
Name: open, dtype: int64
date
2013-01-17    197
Name: open, dtype: int64
date
2013-01-18    200
Name: open, dtype: int64
date
2013-01-21    200
Name: open, dtype: int64
date
2013-01-22    201
Name: open, dtype: int64
date
2013-01-23    199
Name: open, dtype: int64
date
2013-01-24    199
Name: open, dtype: int64
date
2013-01-25    200
Name: open, dtype: int64
date
2013-01-28    204
Name: open, dtype: int64
date
2013-01-29    202
Name: open, dtype: int64
date
2013-01-30    203
Name: open, dtype: int64
date
2013-01-31    204
Name: open, dtype: int64
date
2013-02-01    206
Name: open, dtype: int64
date
2013-02-04    208
Name: open, dtype: int64
date
2013-02-05    207
Name: open, dtype: int64
date
2013-02-06    208
Name: open, dtype: int64
date
2013-02-07    208
Name: open, dtype: int64
date
2013-02-08    210
Name: open, dtype: int64
date
2013-02-12    210
Name: open, dtype: int64
date
2013-02-13    209
Name: open, dtype: int64
date
2013-02-14    203
Name: open, dtype: int64
date
2013-02-15    203
Name: open, dtype: int64
date
2013-02-18    203
Name: open, dtype: int64
date
2013-02-19    207
Name: open, dtype: int64
date
2013-02-20    210
Name: open, dtype: int64
date
2013-02-21    209
Name: open, dtype: int64
date
2013-02-22    210
Name: open, dtype: int64
date
2013-02-25    213
Name: open, dtype: int64
date
2013-02-26    211
Name: open, dtype: int64
date
2013-02-27    219
Name: open, dtype: int64
date
2013-02-28    219
Name: open, dtype: int64
date
2013-03-01    218
Name: open, dtype: int64
date
2013-03-04    218
Name: open, dtype: int64
date
2013-03-05    219
Name: open, dtype: int64
date
2013-03-06    222
Name: open, dtype: int64
date
2013-03-07    220
Name: open, dtype: int64
date
2013-03-08    222
Name: open, dtype: int64
date
2013-03-11    223
Name: open, dtype: int64
date
2013-03-12    226
Name: open, dtype: int64
date
2013-03-13    227
Name: open, dtype: int64
date
2013-03-14    225
Name: open, dtype: int64
date
2013-03-15    228
Name: open, dtype: int64
date
2013-03-18    229
Name: open, dtype: int64
date
2013-03-19    233
Name: open, dtype: int64
date
2013-03-21    233
Name: open, dtype: int64
date
2013-03-22    235
Name: open, dtype: int64
date
2013-03-25    238
Name: open, dtype: int64
date
2013-03-26    236
Name: open, dtype: int64
date
2013-03-27    219
Name: open, dtype: int64
date
2013-03-28    220
Name: open, dtype: int64
date
2013-03-29    214
Name: open, dtype: int64
date
2013-04-01    207
Name: open, dtype: int64
date
2013-04-02    199
Name: open, dtype: int64
date
2013-04-03    202
Name: open, dtype: int64
date
2013-04-04    203
Name: open, dtype: int64
date
2013-04-05    214
Name: open, dtype: int64
date
2013-04-08    211
Name: open, dtype: int64
date
2013-04-09    218
Name: open, dtype: int64
date
2013-04-10    211
Name: open, dtype: int64
date
2013-04-11    214
Name: open, dtype: int64
date
2013-04-12    216
Name: open, dtype: int64
date
2013-04-15    213
Name: open, dtype: int64
date
2013-04-16    209
Name: open, dtype: int64
date
2013-04-17    212
Name: open, dtype: int64
date
2013-04-18    213
Name: open, dtype: int64
date
2013-04-19    234
Name: open, dtype: int64
date
2013-04-22    235
Name: open, dtype: int64
date
2013-04-23    248
Name: open, dtype: int64
date
2013-04-24    276
Name: open, dtype: int64
date
2013-04-25    264
Name: open, dtype: int64
date
2013-04-26    252
Name: open, dtype: int64
date
2013-04-30    249
Name: open, dtype: int64
date
2013-05-01    241
Name: open, dtype: int64
date
2013-05-02    247
Name: open, dtype: int64
date
2013-05-07    250
Name: open, dtype: int64
date
2013-05-08    247
Name: open, dtype: int64
date
2013-05-09    245
Name: open, dtype: int64
date
2013-05-10    247
Name: open, dtype: int64
date
2013-05-13    249
Name: open, dtype: int64
date
2013-05-14    245
Name: open, dtype: int64
date
2013-05-15    245
Name: open, dtype: int64
date
2013-05-16    239
Name: open, dtype: int64
date
2013-05-17    234
Name: open, dtype: int64
date
2013-05-20    247
Name: open, dtype: int64
date
2013-05-21    246
Name: open, dtype: int64
date
2013-05-22    257
Name: open, dtype: int64
date
2013-05-23    252
Name: open, dtype: int64
date
2013-05-24    239
Name: open, dtype: int64
date
2013-05-27    231
Name: open, dtype: int64
date
2013-05-28    224
Name: open, dtype: int64
date
2013-05-29    227
Name: open, dtype: int64
date
2013-05-30    230
Name: open, dtype: int64
date
2013-05-31    227
Name: open, dtype: int64
date
2013-06-03    270
Name: open, dtype: int64
date
2013-06-04    308
Name: open, dtype: int64
date
2013-06-05    260
Name: open, dtype: int64
date
2013-06-06    242
Name: open, dtype: int64
date
2013-06-07    225
Name: open, dtype: int64
date
2013-06-10    224
Name: open, dtype: int64
date
2013-06-11    224
Name: open, dtype: int64
date
2013-06-12    232
Name: open, dtype: int64
date
2013-06-13    228
Name: open, dtype: int64
date
2013-06-14    226
Name: open, dtype: int64
date
2013-06-17    219
Name: open, dtype: int64
date
2013-06-18    227
Name: open, dtype: int64
date
2013-06-19    239
Name: open, dtype: int64
date
2013-06-20    235
Name: open, dtype: int64
date
2013-06-21    237
Name: open, dtype: int64
date
2013-06-24    253
Name: open, dtype: int64
date
2013-06-25    250
Name: open, dtype: int64
date
2013-06-26    258
Name: open, dtype: int64
date
2013-06-27    242
Name: open, dtype: int64
date
2013-06-28    257
Name: open, dtype: int64
date
2013-07-01    258
Name: open, dtype: int64
date
2013-07-02    270
Name: open, dtype: int64
date
2013-07-03    281
Name: open, dtype: int64
date
2013-07-04    273
Name: open, dtype: int64
date
2013-07-05    275
Name: open, dtype: int64
date
2013-07-08    289
Name: open, dtype: int64
date
2013-07-09    287
Name: open, dtype: int64
date
2013-07-10    288
Name: open, dtype: int64
date
2013-07-11    288
Name: open, dtype: int64
date
2013-07-12    303
Name: open, dtype: int64
date
2013-07-16    298
Name: open, dtype: int64
date
2013-07-17    290
Name: open, dtype: int64
date
2013-07-18    285
Name: open, dtype: int64
date
2013-07-19    284
Name: open, dtype: int64
date
2013-07-22    280
Name: open, dtype: int64
date
2013-07-23    276
Name: open, dtype: int64
date
2013-07-24    285
Name: open, dtype: int64
date
2013-07-25    282
Name: open, dtype: int64
date
2013-07-26    275
Name: open, dtype: int64
date
2013-07-29    260
Name: open, dtype: int64
date
2013-07-30    254
Name: open, dtype: int64
date
2013-07-31    266
Name: open, dtype: int64
date
2013-08-01    257
Name: open, dtype: int64
date
2013-08-02    266
Name: open, dtype: int64
date
2013-08-05    273
Name: open, dtype: int64
date
2013-08-06    274
Name: open, dtype: int64
date
2013-08-07    270
Name: open, dtype: int64
date
2013-08-08    264
Name: open, dtype: int64
date
2013-08-09    261
Name: open, dtype: int64
date
2013-08-12    260
Name: open, dtype: int64
date
2013-08-13    258
Name: open, dtype: int64
date
2013-08-14    264
Name: open, dtype: int64
date
2013-08-15    270
Name: open, dtype: int64
date
2013-08-16    263
Name: open, dtype: int64
date
2013-08-19    267
Name: open, dtype: int64
date
2013-08-20    265
Name: open, dtype: int64
date
2013-08-21    264
Name: open, dtype: int64
date
2013-08-22    257
Name: open, dtype: int64
date
2013-08-23    268
Name: open, dtype: int64
date
2013-08-26    266
Name: open, dtype: int64
date
2013-08-27    261
Name: open, dtype: int64
date
2013-08-28    260
Name: open, dtype: int64
date
2013-08-29    260
Name: open, dtype: int64
date
2013-08-30    263
Name: open, dtype: int64
date
2013-09-02    259
Name: open, dtype: int64
date
2013-09-03    264
Name: open, dtype: int64
date
2013-09-04    269
Name: open, dtype: int64
date
2013-09-05    277
Name: open, dtype: int64
date
2013-09-06    270
Name: open, dtype: int64
date
2013-09-09    267
Name: open, dtype: int64
date
2013-09-10    263
Name: open, dtype: int64
date
2013-09-11    261
Name: open, dtype: int64
date
2013-09-12    263
Name: open, dtype: int64
date
2013-09-13    262
Name: open, dtype: int64
date
2013-09-17    269
Name: open, dtype: int64
date
2013-09-18    272
Name: open, dtype: int64
date
2013-09-19    273
Name: open, dtype: int64
date
2013-09-20    274
Name: open, dtype: int64
date
2013-09-24    268
Name: open, dtype: int64
date
2013-09-25    268
Name: open, dtype: int64
date
2013-09-26    267
Name: open, dtype: int64
date
2013-09-27    286
Name: open, dtype: int64
date
2013-09-30    281
Name: open, dtype: int64
date
2013-10-01    287
Name: open, dtype: int64
date
2013-10-02    284
Name: open, dtype: int64
date
2013-10-03    275
Name: open, dtype: int64
date
2013-10-04    267
Name: open, dtype: int64
date
2013-10-07    263
Name: open, dtype: int64
date
2013-10-08    258
Name: open, dtype: int64
date
2013-10-09    258
Name: open, dtype: int64
date
2013-10-10    264
Name: open, dtype: int64
date
2013-10-11    265
Name: open, dtype: int64
date
2013-10-15    269
Name: open, dtype: int64
date
2013-10-16    265
Name: open, dtype: int64
date
2013-10-17    266
Name: open, dtype: int64
date
2013-10-18    266
Name: open, dtype: int64
date
2013-10-21    265
Name: open, dtype: int64
date
2013-10-22    274
Name: open, dtype: int64
date
2013-10-23    273
Name: open, dtype: int64
date
2013-10-24    268
Name: open, dtype: int64
date
2013-10-25    271
Name: open, dtype: int64
date
2013-10-28    269
Name: open, dtype: int64
date
2013-10-29    271
Name: open, dtype: int64
date
2013-10-30    271
Name: open, dtype: int64
date
2013-10-31    269
Name: open, dtype: int64
date
2013-11-01    267
Name: open, dtype: int64
date
2013-11-05    262
Name: open, dtype: int64
date
2013-11-06    266
Name: open, dtype: int64
date
2013-11-07    266
Name: open, dtype: int64
date
2013-11-08    264
Name: open, dtype: int64
date
2013-11-11    264
Name: open, dtype: int64
date
2013-11-12    262
Name: open, dtype: int64
date
2013-11-13    262
Name: open, dtype: int64
date
2013-11-14    263
Name: open, dtype: int64
date
2013-11-15    265
Name: open, dtype: int64
date
2013-11-18    269
Name: open, dtype: int64
date
2013-11-19    271
Name: open, dtype: int64
date
2013-11-20    273
Name: open, dtype: int64
date
2013-11-21    270
Name: open, dtype: int64
date
2013-11-22    270
Name: open, dtype: int64
date
2013-11-25    267
Name: open, dtype: int64
date
2013-11-26    266
Name: open, dtype: int64
date
2013-11-27    266
Name: open, dtype: int64
date
2013-11-28    266
Name: open, dtype: int64
date
2013-11-29    264
Name: open, dtype: int64
date
2013-12-02    266
Name: open, dtype: int64
date
2013-12-03    265
Name: open, dtype: int64
date
2013-12-04    264
Name: open, dtype: int64
date
2013-12-05    264
Name: open, dtype: int64
date
2013-12-06    262
Name: open, dtype: int64
date
2013-12-09    263
Name: open, dtype: int64
date
2013-12-10    263
Name: open, dtype: int64
date
2013-12-11    263
Name: open, dtype: int64
date
2013-12-12    264
Name: open, dtype: int64
date
2013-12-13    264
Name: open, dtype: int64
date
2013-12-16    263
Name: open, dtype: int64
date
2013-12-17    262
Name: open, dtype: int64
date
2013-12-18    263
Name: open, dtype: int64
date
2013-12-19    263
Name: open, dtype: int64
date
2013-12-20    261
Name: open, dtype: int64
date
2013-12-24    260
Name: open, dtype: int64
date
2013-12-25    259
Name: open, dtype: int64
date
2013-12-26    261
Name: open, dtype: int64
date
2013-12-27    266
Name: open, dtype: int64
date
2013-12-30    265
Name: open, dtype: int64
date
2014-01-06    268
Name: open, dtype: int64
date
2014-01-07    271
Name: open, dtype: int64
date
2014-01-08    268
Name: open, dtype: int64
date
2014-01-09    270
Name: open, dtype: int64
date
2014-01-10    266
Name: open, dtype: int64
date
2014-01-14    266
Name: open, dtype: int64
date
2014-01-15    269
Name: open, dtype: int64
date
2014-01-16    269
Name: open, dtype: int64
date
2014-01-17    268
Name: open, dtype: int64
date
2014-01-20    270
Name: open, dtype: int64
date
2014-01-21    271
Name: open, dtype: int64
date
2014-01-22    273
Name: open, dtype: int64
date
2014-01-23    275
Name: open, dtype: int64
date
2014-01-24    269
Name: open, dtype: int64
date
2014-01-27    267
Name: open, dtype: int64
date
2014-01-28    268
Name: open, dtype: int64
date
2014-01-29    268
Name: open, dtype: int64
date
2014-01-30    268
Name: open, dtype: int64
date
2014-01-31    268
Name: open, dtype: int64
date
2014-02-03    265
Name: open, dtype: int64
date
2014-02-04    258
Name: open, dtype: int64
date
2014-02-05    254
Name: open, dtype: int64
date
2014-02-06    258
Name: open, dtype: int64
date
2014-02-07    263
Name: open, dtype: int64
date
2014-02-10    268
Name: open, dtype: int64
date
2014-02-12    270
Name: open, dtype: int64
date
2014-02-13    270
Name: open, dtype: int64
date
2014-02-14    267
Name: open, dtype: int64
date
2014-02-17    265
Name: open, dtype: int64
date
2014-02-18    266
Name: open, dtype: int64
date
2014-02-19    268
Name: open, dtype: int64
date
2014-02-20    268
Name: open, dtype: int64
date
2014-02-21    270
Name: open, dtype: int64
date
2014-02-24    270
Name: open, dtype: int64
date
2014-02-25    273
Name: open, dtype: int64
date
2014-02-26    271
Name: open, dtype: int64
date
2014-02-27    271
Name: open, dtype: int64
date
2014-02-28    270
Name: open, dtype: int64
date
2014-03-03    266
Name: open, dtype: int64
date
2014-03-04    266
Name: open, dtype: int64
date
2014-03-05    270
Name: open, dtype: int64
date
2014-03-06    270
Name: open, dtype: int64
date
2014-03-07    270

Name: open, dtype: int64
date
2016-11-18    2654
Name: open, dtype: int64
date
2016-11-21    2670
Name: open, dtype: int64
date
2016-11-22    2677
Name: open, dtype: int64
date
2016-11-24    2661
Name: open, dtype: int64
date
2016-11-25    2678
Name: open, dtype: int64
date
2016-11-28    2700
Name: open, dtype: int64
date
2016-11-29    2690
Name: open, dtype: int64
date
2016-11-30    2715
Name: open, dtype: int64
date
2016-12-01    2715
Name: open, dtype: int64
date
2016-12-02    2713
Name: open, dtype: int64
date
2016-12-05    2665
Name: open, dtype: int64
date
2016-12-06    2660
Name: open, dtype: int64
date
2016-12-07    2674
Name: open, dtype: int64
date
2016-12-08    2672
Name: open, dtype: int64
date
2016-12-09    2658
Name: open, dtype: int64
date
2016-12-12    2670
Name: open, dtype: int64
date
2016-12-13    2700
Name: open, dtype: int64
date
2016-12-14    2748
Name: open, dtype: int64
date
2016-12-15    2730
Name: open, dtype: int64
date
2016-12-16    2729
Name: open, dtype: int64
date
2016-12-19    2727
Name: open, dtype: int64
date
2016-12-20    2725
Name: open, dtype: int64
date
2016-12-21    2736
Name: open, dtype: int64
date
2016-12-22    2727
Name: open, dtype: int64
date
2016-12-26    2725
Name: open, dtype: int64
date
2016-12-27    2739
Name: open, dtype: int64
date
2016-12-28    2719
Name: open, dtype: int64
date
2016-12-29    2724
Name: open, dtype: int64
date
2016-12-30    2701
Name: open, dtype: int64
date
2017-01-04    2734
Name: open, dtype: int64
date
2017-01-05    2743
Name: open, dtype: int64
date
2017-01-06    2734
Name: open, dtype: int64
date
2017-01-10    2745
Name: open, dtype: int64
date
2017-01-11    2748
Name: open, dtype: int64
date
2017-01-12    2745
Name: open, dtype: int64
date
2017-01-13    2707
Name: open, dtype: int64
date
2017-01-16    2725
Name: open, dtype: int64
date
2017-01-17    2702
Name: open, dtype: int64
date
2017-01-18    2689
Name: open, dtype: int64
date
2017-01-19    2694
Name: open, dtype: int64
date
2017-01-20    2724
Name: open, dtype: int64
date
2017-01-23    2730
Name: open, dtype: int64
date
2017-01-24    2718
Name: open, dtype: int64
date
2017-01-25    2732
Name: open, dtype: int64
date
2017-01-26    2738
Name: open, dtype: int64
date
2017-01-27    2739
Name: open, dtype: int64
date
2017-01-30    2726
Name: open, dtype: int64
date
2017-01-31    2730
Name: open, dtype: int64
date
2017-02-01    2717
Name: open, dtype: int64
date
2017-02-02    2735
Name: open, dtype: int64
date
2017-02-03    2722
Name: open, dtype: int64
date
2017-02-06    2733
Name: open, dtype: int64
date
2017-02-07    2725
Name: open, dtype: int64
date
2017-02-08    2726
Name: open, dtype: int64
date
2017-02-09    2725
Name: open, dtype: int64
date
2017-02-10    2737
Name: open, dtype: int64
date
2017-02-13    2760
Name: open, dtype: int64
date
2017-02-14    2783
Name: open, dtype: int64
date
2017-02-15    2820
Name: open, dtype: int64
date
2017-02-16    2829
Name: open, dtype: int64
date
2017-02-17    2825
Name: open, dtype: int64
date
2017-02-20    2838
Name: open, dtype: int64
date
2017-02-21    2853
Name: open, dtype: int64
date
2017-02-22    2900
Name: open, dtype: int64
date
2017-02-23    2903
Name: open, dtype: int64
date
2017-02-24    2923
Name: open, dtype: int64
date
2017-02-27    2950
Name: open, dtype: int64
date
2017-02-28    2963
Name: open, dtype: int64
date
2017-03-01    2984
Name: open, dtype: int64
date
2017-03-02    3030
Name: open, dtype: int64
date
2017-03-03    3030
Name: open, dtype: int64
date
2017-03-06    3050
Name: open, dtype: int64
date
2017-03-07    3120
Name: open, dtype: int64
date
2017-03-08    3100
Name: open, dtype: int64
date
2017-03-09    3135
Name: open, dtype: int64
date
2017-03-10    3165
Name: open, dtype: int64
date
2017-03-13    3135
Name: open, dtype: int64
date
2017-03-14    3180
Name: open, dtype: int64
date
2017-03-15    3210
Name: open, dtype: int64
date
2017-03-16    3130
Name: open, dtype: int64
date
2017-03-17    3170
Name: open, dtype: int64
date
2017-03-21    3180
Name: open, dtype: int64
date
2017-03-22    3155
Name: open, dtype: int64
date
2017-03-23    3130
Name: open, dtype: int64
date
2017-03-24    3115
Name: open, dtype: int64
date
2017-03-27    3125
Name: open, dtype: int64
date
2017-03-28    3120
Name: open, dtype: int64
date
2017-03-29    3050
Name: open, dtype: int64
date
2017-03-30    3005
Name: open, dtype: int64
date
2017-03-31    2948
Name: open, dtype: int64
date
2017-04-03    2946
Name: open, dtype: int64
date
2017-04-04    3005
Name: open, dtype: int64
date
2017-04-05    3015
Name: open, dtype: int64
date
2017-04-06    2980
Name: open, dtype: int64
date
2017-04-07    2960
Name: open, dtype: int64
date
2017-04-10    2931
Name: open, dtype: int64
date
2017-04-11    2906
Name: open, dtype: int64
date
2017-04-12    2905
Name: open, dtype: int64
date
2017-04-13    2861
Name: open, dtype: int64
date
2017-04-14    2880
Name: open, dtype: int64
date
2017-04-17    2860
Name: open, dtype: int64
date
2017-04-18    2890
Name: open, dtype: int64
date
2017-04-19    2880
Name: open, dtype: int64
date
2017-04-20    2900
Name: open, dtype: int64
date
2017-04-21    2890
Name: open, dtype: int64
date
2017-04-24    2900
Name: open, dtype: int64
date
2017-04-25    2936
Name: open, dtype: int64
date
2017-04-26    2918
Name: open, dtype: int64
date
2017-04-27    2940
Name: open, dtype: int64
date
2017-04-28    2939
Name: open, dtype: int64
date
2017-05-01    2930
Name: open, dtype: int64
date
2017-05-02    2941
Name: open, dtype: int64
date
2017-05-08    2973
Name: open, dtype: int64
date
2017-05-09    2985
Name: open, dtype: int64
date
2017-05-10    2965
Name: open, dtype: int64
date
2017-05-11    2995
Name: open, dtype: int64
date
2017-05-12    3050
Name: open, dtype: int64
date
2017-05-15    3010
Name: open, dtype: int64
date
2017-05-16    3050
Name: open, dtype: int64
date
2017-05-17    3040
Name: open, dtype: int64
date
2017-05-18    3040
Name: open, dtype: int64
date
2017-05-19    3080
Name: open, dtype: int64
date
2017-05-22    3105
Name: open, dtype: int64
date
2017-05-23    3145
Name: open, dtype: int64
date
2017-05-24    3150
Name: open, dtype: int64
date
2017-05-25    3175
Name: open, dtype: int64
date
2017-05-26    3120
Name: open, dtype: int64
date
2017-05-29    3075
Name: open, dtype: int64
date
2017-05-30    3055
Name: open, dtype: int64
date
2017-05-31    3010
Name: open, dtype: int64
date
2017-06-01    3070
Name: open, dtype: int64
date
2017-06-02    3080
Name: open, dtype: int64
date
2017-06-05    3035
Name: open, dtype: int64
date
2017-06-06    3080
Name: open, dtype: int64
date
2017-06-07    3060
Name: open, dtype: int64
date
2017-06-08    3065
Name: open, dtype: int64
date
2017-06-09    3090
Name: open, dtype: int64
date
2017-06-12    3070
Name: open, dtype: int64
date
2017-06-13    3095
Name: open, dtype: int64
date
2017-06-14    3110
Name: open, dtype: int64
date
2017-06-15    3095
Name: open, dtype: int64
date
2017-06-16    3130
Name: open, dtype: int64

In [22]:
df[["close","adj_close"]].plot()