In [1]:
%matplotlib notebook

In [2]:
from pandasjsm import pandasjsm

In [3]:
pj = pandasjsm()

In [4]:
df = pj.get_historical_prices('1332')

table_name=code_1332_0
Execution failed on sql 'select date from code_1332_0 order by date limit 1': no such table: code_1332_0

/usr/local/var/pyenv/versions/anaconda3-4.3.1/envs/stock/lib/python3.4/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("html5lib"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 170 of the file /usr/local/var/pyenv/versions/anaconda3-4.3.1/envs/stock/lib/python3.4/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "html5lib")

  markup_type=markup_type))

In [54]:
data = {'date':[], 'open':[], 'high':[], 'low':[], 'close':[], 'volume':[]}
for d in jsm_data:
    data['date'].append(d.date)
    data['open'].append(d.open)
    data['high'].append(d.high)
    data['low'].append(d.low)
    data['close'].append(d.close)
    data['volume'].append(d.volume)
df_data = pd.DataFrame(data)
df_data = df_data.drop_duplicates(subset='date')
df_data = df_data.sort_values('date')

In [55]:
print(df_data)

     close       date    high     low    open    volume
21  2982.5 2017-03-06  2993.5  2969.0  2971.5   3370300
20  2987.0 2017-03-07  2989.5  2963.0  2965.5   5977800
19  2975.0 2017-03-08  2995.0  2962.0  2987.0   4620700
18  2961.5 2017-03-09  2989.0  2954.0  2989.0   3852300
17  2985.5 2017-03-10  3006.0  2968.0  2989.5  10563700
16  3029.0 2017-03-13  3060.0  2981.0  2988.0   6018900
15  2991.0 2017-03-14  3020.0  2990.5  3009.0   4147700
14  3006.0 2017-03-15  3020.0  2988.0  2991.0   4117700
13  3024.0 2017-03-16  3038.0  3005.0  3009.0   4712700
12  3045.0 2017-03-17  3051.0  3009.0  3020.0   6515100
11  3040.0 2017-03-21  3051.0  3017.0  3047.0   3998800
10  3007.0 2017-03-22  3042.0  2997.0  3039.0   5770200
9   2972.0 2017-03-23  2984.0  2943.5  2981.0   6619000
8   3002.0 2017-03-24  3009.0  2968.0  2969.0   4842200
7   2972.0 2017-03-27  2990.0  2965.5  2984.5   4711300
6   3016.0 2017-03-28  3019.0  2983.5  2986.5   6934800
5   3001.0 2017-03-29  3024.0  2986.0  3021.0   5104100
4   2976.0 2017-03-30  2996.0  2967.0  2996.0   4122600
3   2922.0 2017-03-31  2981.0  2922.0  2980.0   6574000
2   2878.5 2017-04-03  2907.5  2871.0  2901.0  11049600
1   2911.5 2017-04-04  2934.0  2897.0  2910.0   7923700
0   2926.0 2017-04-05  2940.0  2913.5  2933.5   4400500

In [61]:
from database import DB

In [65]:
db = DB(1301,False)

In [67]:
db.select('stock_data')

DatabaseError: Execution failed on sql 'select distinct * from stock_data order by date': no such table: stock_data